<template>
    <div style="display:none">
        <form id="destroyForm" method="POST">
          <csrf></csrf>
        </form>
    </div>
</template>

<script>
/*
    const ModalForm = {
        props: ['pwd', 'password'],
        template: `
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Login</p>
                </header>
                <section class="modal-card-body">
                    <div style="text-align:left; width:100%; max-width:400px; display:inline-block;">
                        <div class="field required">
                            <label class="label">New Password</label>
                            <div class="control">
                                <input type="text" id="pwd" class="input" required />
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">Confirm Password</label>
                            <div class="control">
                                <input type="text" id="confirmpwd" class="input" required  />
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="$parent.close()">Close</button>
                    <button class="button is-primary">Login</button>
                </footer>
            </div>
        `
    }
*/
    export default {
        mounted() {
            console.log('Account Setting is mounted.');
        },
        methods: {
            showChangePwd() {
                /*
                this.$modal.open({
                    parent: this,
                    component: ModalForm,
                    hasModalCard: true
                })
                */
                this.$dialog.alert({
                    title:'Change Password',
                    message: `
                        <div style="text-align:left; width:100%; max-width:400px; display:inline-block;">
                            <div class="field required">
                                <label class="label">New Password</label>
                                <div class="control">
                                    <input type="password" id="pwd" class="input" required />
                                </div>
                            </div>
                            <div class="field required">
                                <label class="label">Confirm Password</label>
                                <div class="control">
                                    <input type="password" id="confirmpwd" class="input" required  />
                                </div>
                            </div>
                        </div>
                    `,
                    confirmText: 'Confirm',
                    onConfirm: () => {
                        let pwd1 = $('input#pwd').val();
                        let pwd2 = $('input#confirmpwd').val();
                        if (pwd1.length == 0 || pwd2.length == 0) {
                            this.$dialog.alert({
                                title:'Warning',
                                message:'Please input all fields.',
                                onConfirm: () => {
                                    this.showChangePwd();
                                }
                            });
                            return;
                        }
                        if (pwd1 != pwd2) {
                            this.$dialog.alert({
                                title:'Warning',
                                message:'Password doesn\'t match, Please retry',
                                onConfirm: () => {
                                    this.showChangePwd();
                                }
                            });
                            return;
                        }
                        this.isLoading = true;
                        axios.post(route('account.change_password'), {
                            password: pwd1, 
                            password_verify: pwd2
                        }).then(response => {
                            this.isLoading = false;
                            this.$dialog.alert({
                                title:'Password Change Successful',
                                message:'You have successfully updated your password',
                                confirmText: 'OK',
                            });
                        }).catch(error => {
                            this.isLoading = false;
                            let msg = JSON.stringify(error);
                            this.$dialog.alert({
                                title:'Error',
                                message:msg,
                                confirmText: 'OK',
                            });
                        })
                    }
                })
            },
            confirmDelete() {
                this.$dialog.confirm({
                title:'Confirm Delete',
                message:'Are you sure you want to delete <b>Your account</b>? '+
                        ' This action cannot be undone.',
                onConfirm: () => {
                    let form = document.querySelector('#destroyForm');
                    form.action = route('account.destroy');
                    form.submit();
                    console.log('done');
                }
             });
            },
        },
        data() {
            return {
                isLoading: false,
                search: '',
            }
        },
        computed: {
        }
    }
</script>