<template>
    <div class="box vpp-attacher">
        <div class="columns">
            <div class="column is-half">
                <div class="control has-icons-left">
                    <input class="input" type="text" v-model="search" placeholder="Search">
                    <span class="icon is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <h3 class="panel-block">Single Ads ({{filteredAds.length}})</h3>
                <a  v-for="item in filteredAds"
                    :key="'a'+item.id"
                    class="panel-block"
                    @click="addAds(item.id)"
                    >
                    {{item.title}}
                    <div class="note">Add +</div>
                </a>
                <br/>
            </div>
            <div class="column is-half">
                <h3 class="panel-block">Ads Added ({{selectedAds.length}})</h3>
                <a  v-for="item in selectedAds"
                    :key="'a'+item.id"
                    class="panel-block"
                    @click="removeAds(item.id)"
                    >
                    {{item.title}}
                    <div class="note">Remove -</div>
                    <input type="hidden" name="ads[]" :value="item.id" />
                </a>
                <br/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Ads attacher mounted.')
        },
        methods: {
            addAds(id) {
                this.sel_ads.push(id);
            },
            removeAds(id) {
                let idx = this.sel_ads.indexOf(id);
                this.sel_ads.splice(idx, 1);
            },
        },
        data() {
            return {
                search: '',
                all_ads: app_data.all_ads,
                sel_ads: app_data.sel_ads,
            }
        },
        computed: {
            filteredAds: function() {
                return this.all_ads.filter(item => {
                    return  this.sel_ads.indexOf(item.id) < 0 &&
                            item.title.toLowerCase().includes(this.search.toLowerCase())
                })
            },
            selectedAds: function() {
                return this.all_ads.filter(item => this.sel_ads.indexOf(item.id) >= 0);
            },
        }
    }
</script>
