<template>
    <div class="box vpp-attacher">
        <div class="columns">
            <div class="column is-half">
                <div class="field required">
                    <label class="label">Dismissible</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="dismissible" value="1"
                                   class="is-marginless" v-model="dismissible"> Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="dismissible" value="0"
                                   class="is-marginless" v-model="dismissible"> No
                        </label>
                    </div>
                </div>
                <div class="field required">
                    <label class="label">Type</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="type" v-model="type" value="video" class="is-marginless">
                            Video
                        </label>
                        <label class="radio">
                            <input type="radio" name="type" v-model="type" value="banner" class="is-marginless">
                            Banner
                        </label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Expires at</label>
                    <datetime 
                        v-model="expiresAt"
                        type="datetime"
                        :minute-step="15" 
                        :min-datetime="datetimeNow">
                    </datetime>
                    <input type="hidden" name="expires_at" v-model="expiresAt">
                </div>
            </div>
            <div class="column is-half">
                <div class="field required" v-if="type === 'video'">
                    <label class="label">Video File</label>
                    <a class="button is-rounded is-active vpp-btn" @click="openUploadClient()">Upload</a>
                    <input type="hidden" name="resource_uri" v-model="videoLink">
                    <div class="p-4">
                        <a v-if="videoLink" class="p-4" :href="videoLink">
                            {{ videoLink }}
                        </a>
                    </div>
                    <div class="p-4">
                        <video v-if="videoLink" controls>
                            <source :src="videoLink">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div>
                <div class="field required" v-else>
                    <label class="label">Position</label>
                    <div class="control">
                        <div class="select">
                            <select name="position" v-model="position">
                                <option value="top">Top</option>
                                <option value="bottom">Bottom</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['uid'],
        data() {
            return {
                dismissible: 1,
                type: 'video',
                videoLink: null,
                position: 'top',
                expiresAt: null,
                datetimeNow: new Date().toISOString()
            }
        },
        mounted: function () {
            if (this.uid) {
                axios.get(route('ads.json', {ad: this.uid})).then(response => {
                    this.dismissible = response.data.type.dismissible;
                    this.type = response.data.type.type;
                    this.videoLink = response.data.resource_uri;
                    this.expiresAt = response.data.expires_at;
                    if (response.data.type.position) {
                        this.position = response.data.type.position;
                    }
                });
            }
        },
        methods: {
            openUploadClient: function() {
                fsClient.pick({
                    accept: 'video/*',
                    fromSources: ['local_file_system'],
                    maxFiles: 1,
                    minFiles: 1
                }).then(response => {
                    this.videoLink = response.filesUploaded[0].url;
                });
            }
        }
    }
</script>
