<template>
    <div class="box vpp-attacher">
        <div class="columns">
            <div class="column is-half">
                <template v-if="loaded">
                    <div class="control has-icons-left">
                        <input class="input" type="text" v-model="search">
                        <span class="icon is-left">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <h3 class="panel-block">All Available ({{ filteredList.length }})</h3>
                    <a v-for="(item, key) in filteredList" :key="key" class="panel-block" @click="add(item.id)">
                        {{item.name}}
                        <span class="note">Add +</span>
                    </a>
                </template>
                <div class="loading" v-else>Loading</div>
            </div>
            <div class="column is-half">
                <template v-if="loaded">
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input class="input is-rounded" type="text" v-model="category">
                        </div>
                        <div class="control">
                            <a class="button is-rounded is-active vpp-btn" v-on:click="createCategory">
                                Create New
                            </a>
                        </div>
                    </div>
                    <div>
                        <h3 class="panel-block">Added Categories ({{ selected.length }})</h3>
                        <a v-for="(item, key) in selectedList" :key="key" class="panel-block" @click="remove(item.id)">
                            {{ item.name }}
                            <span class="note">Remove -</span>
                            <input type="hidden" name="categories[]" :value="item.id" />
                        </a>
                    </div>
                </template>
                <div class="loading" v-else>Loading</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['selectedCategoriesRoute'],
        data() {
            return {
                loaded: false,
                store: store,
                search: '',
                all: typeof app_data !== 'undefined' && app_data.all_categories ? app_data.all_categories : [],
                selected: typeof app_data !== 'undefined' && app_data.sel_categories ? app_data.sel_categories : [],
                category: ''
            }
        },
        mounted() {
            if (typeof app_data !== 'undefined' && app_data.all_categories) {
                this.loaded = true;
                return;
            }

            this.getData();
        },
        methods: {
            getData() {
                let _this = this;

                axios.all([this.getCategories(), this.getSelectedCategories()])
                    .then(axios.spread(function (acct, perms) {
                        _this.loaded = true;
                    }));
            },
            getCategories() {
                return axios.get(route('categories.list')).then(response => {
                    this.all = response.data;
                });
            },
            getSelectedCategories() {
                if (this.selectedCategoriesRoute) {
                    return axios.get(this.selectedCategoriesRoute).then(response => {
                        this.selected = response.data;
                    });
                }

                return null;
            },
            add(item_id) {
                this.selected.push(item_id);
            },
            remove(item_id) {
                let idx = this.selected.indexOf(item_id);
                this.selected.splice(idx, 1);
                
                this.all.sort(function (a, b) {
                    return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);
                });
            },
            createCategory(e) {
                if (this.category.length) {
                    let _this = e.target;
                    $(_this).addClass('is-loading').attr('disabled', true);

                    axios.post(route('categories.store'), {name: this.category}).then(response => {
                        this.all.push(response.data);
                        this.selected.push(response.data.id);
                        this.category = '';
                        $(_this).removeClass('is-loading').attr('disabled', false);
                    }).catch(error => {
                        $(_this).removeClass('is-loading').attr('disabled', false);
                    })
                }
            }
        },
        computed: {
            filteredList() {
                return this.all.filter(item => {
                    let cond1 = (
                        this.selected.indexOf(item.id) < 0
                        && (this.search.length ? item.name.toLowerCase().includes(this.search.toLowerCase()) : true)
                    );

                    return cond1;
                })
            },
            selectedList: function() {
                return this.all.filter(item => {
                    return this.selected.indexOf(item.id) >= 0;
                });
            },
            
        }
    }
</script>
