<template>
    <div class="">
        <v-select 
            ref="vselect"
            label="name" 
            placeholder="All Channels"
            :filterable="false" 
            :options="channellist"
            v-model="selectedChannel"
            @search="onSearch"
            >
            <template slot="no-options">
                type to search channel...
            </template>
            <template slot="option" slot-scope="option">
                <div class="d-center">
                    <img :src='option.asset_path'/> 
                    {{ option.name }}
                </div>
            </template>
            <template slot="selected-option" slot-scope="option">
                <div class="selected d-center">
                    <img :src='option.asset_path'/> 
                    {{ option.name }}
                </div>
            </template>
        </v-select>
    </div>
</template>

<script>
import { VueSelect } from 'vue-select';

export default {
    components: {
        'v-select': VueSelect
    },
    props:[ 'selected', 'selectedId', 'user' ],
    data: function() {
        return {
            firstloading: true,
            channellist: [],
            selectedChannel: this.selected,
        }
    },
    mounted: function() {

        let self = this;
        
        if (this.selected) {
            self.firstloading = false;
            return;
        }

        if (this.selectedId && this.selectedId > 0) {
            axios.get(route('channels.info', {id:this.selectedId}))
            .then(response => {
                self.selectedChannel = response.data;
            }).catch(err => {
                console.log('Got error:', err);
                self.firstloading = false;
            });
        } else {
            self.firstloading = false;
        }
    },
    methods: {
        onSearch(search, loading) {
            loading(true);
            this.search(loading, search, this);
        },
        search: function(loading, search, vm) {

            let data = {
                'searchkey': search
            };
            if(this.user && this.user.id) {
                data.user = this.user.id;
            }

            axios.post(route('channels.search'), data)
            .then(response => {
                vm.channellist = response.data;
                loading(false);
            }).catch(err => {
                console.log('Got error:', err);
            });
        },
        clear: function() {
            this.$refs.vselect.clearSelection();
            this.channellist = [];
            this.selectedChannel = null;
        } 
    },

    watch: {
        'selectedChannel': function(val) {
            if (this.firstloading) {
                this.firstloading = false;
                return;
            }

            console.log("Changed Channel :", val);
            this.$emit('change', val);
        }
    }
}
</script>
