<template>
    <div class="box vpp-attacher">
        <div class="columns">
            <div class="column is-half">
                <div class="control has-icons-left">
                    <input class="input" type="text" v-model="search" placeholder="Search Channels">
                    <span class="icon is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <h3 class="panel-block">All Available ({{filteredList.length}})</h3>
                <a  v-for="item in filteredList"
                    :key="item.id"
                    class="panel-block"
                    @click="add(item.id)"
                    >
                    {{item.name}}
                    <div class="note">Add +</div>
                </a>
            </div>
            <div class="column is-half">
                <h3 class="panel-block">All Added ({{selectedList.length}})</h3>
                <a  v-for="item in selectedList"
                    :key="item.id"
                    class="panel-block"
                    @click="remove(item.id)"
                    >
                    {{item.name}}
                    <div class="note">Remove -</div>
                    <input type="hidden" name="channels[]" :value="item.id" />
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted: function() {
            console.log('Channels attacher mounted.');
        },
        methods: {
            add: function(id) {
                this.selects.push(id);
            },
            remove: function(id) {
                let idx = this.selects.indexOf(id);
                this.selects.splice(idx, 1);
            },
        },
        data: function() {
            return {
                search: '',
                all: app_data.all_channels,
                selects: app_data.sel_channels,
            }
        },
        computed: {
            filteredList: function() {
                return this.all.filter(item => {
                    return  this.selects.indexOf(item.id) < 0 &&
                            item.name.toLowerCase().includes(this.search.toLowerCase())
                })
            },
            selectedList: function() {
                return this.all.filter(item => this.selects.indexOf(item.id) >= 0);
            }
        }
    }
</script>
