<template>
    <div class="thumbnail">
        <div v-if="videoLink" class="columns">
            <div class="column is-8">
                <video width="320" height="240" controls>
                    <source :src="videoLink" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="column is-4">
                <a download="image.jpg" :href="videoLink" target="_blank" class="button is-dark is-rounded is-outlined is-fullwidth vpp-btn">
                    Download
                </a>
                <a class="button is-dark is-rounded is-outlined is-fullwidth vpp-btn" @click="remove()">
                    Remove
                </a>
            </div>
        </div>
        <div v-else class="p-4">
            <label>Video:</label>
            <button @click="openUploadClient()" type="button" class="button is-dark is-rounded is-outlined vpp-btn">
                Upload
            </button>
        </div>
        <input type="hidden" name="filename" v-model="filename"> 
        <input type="hidden" name="mimetype" v-model="mimetype">
    </div>
</template>

<style lang="scss">
    .thumbnail {
        video {
            border:1px solid rgba(26,29,41,0.5);
        }
        button {
            margin-top: 12px;
        }
        label {
            display: inline-flex;
            font-weight: normal;
            border: solid 1px #efefef;
            height: 40px;
            margin-top: 12px;
            border-radius: 20px !important;
            line-height: 1.5em;
            width: calc(100% - 120px);
            align-items: center;
        }
    }
</style>

<script>

export default {
    props:[
        'uploadLink'
    ],
    data() {
        return {
            videoLink: this.uploadLink,
            mimetype: this.mimetype,
            filename: this.uploadLink
        };
    },
    methods: {
        
        openUploadClient: function() {
            let self = this;
            fsClient.pick({
                accept: 'video/*',
                fromSources:["local_file_system"],
                maxFiles:1,
                minFiles:1,
                storeTo: {
                    location: 's3',
                    // path: '/uploads/1234.png',
                    region: 'eu-west-1',
                    access: 'public'
                }
            }).then(function(response) {
                //console.log(response.filesUploaded[0]);
                self.videoLink = response.filesUploaded[0].url;
                self.filename = response.filesUploaded[0].filename;
                self.mimetype = response.filesUploaded[0].mimetype;
            });
        },
        remove: function() {
            this.videoLink = "";
            this.mimetype = "";
            this.filename = "";
        }
    },
    computed: {

    }
}
</script>

