<template>
    <span>
        <input type="hidden" name="_token" :value="csrf">
    </span>
</template>


<script>
export default {
   computed: {
        csrf() {
            return window.Laravel.csrfToken; 
        }
    }
}
</script>
