<template>
    <div id="ManageApps">
        <div class="content-toolbar">
            <div>
                <user-selector 
                    class="vpp-select-inline"
                    :selected="selectedUser"
                    v-if="showUserSelect"
                    v-on:change="selectUser">
                </user-selector>
            </div>
            <div class="selected-count" v-if="selected.length > 0">
                {{selected.length}} APPS SELECTED
            </div>
            <div class="btn-tool-group">
                <button class="vpp-select-btn icon-close" 
                    :class="{ 'vpp-select-active' :selected.length > 0 }"
                    v-if="parentChannel"
                    @click="confirmSelected()"
                    ></button>
                <button class="vpp-select-btn icon-delete"
                    :class="{'vpp-select-active':selected.length>0}"
                    v-else
                    @click="confirmSelected()"
                ></button>
            </div>
        </div>

        <form method="post" id="deleteSelForm">
            <table class="table is-fullwidth is-striped">
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkAll" name="" @click="selectAll()">
                                <i class="helper"></i>
                            </label>
                        </div>
                    </th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
                
                <tr v-for="item in this.list" 
                        :key="item.id"
                        :class="isSelected(item.uid)? 'selected' : '' "
                        >
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="uids[]" :value="item.uid" @change="selectSingle(item.uid)">
                                    <i class="helper"></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <a @click="showVideos(item.uid)" class="vpp-title">{{ item.name }}</a>
                        </td>
                        <td class="vpp-datetime">
                            {{ formattedCreatedAt(item) }}<br>
                            <span class="user">{{ item.username }}</span>
                        </td>
                        <td class="vpp-datetime">{{ formattedUpdatedAt(item) }}</td>
                        <td>
                            <a @click="showToken(item.access_token)" class="icon-key vpp-action"></a>
                            <a @click="editApp(item.uid)" class="icon-edit vpp-action"></a>
                            <a class="icon-close vpp-action"
                               v-if="parentChannel"
                               @click="confirmOne(item)"></a>
                            <a class="icon-delete vpp-action"
                                v-else
                               @click="confirmOne(item)"></a>
                        </td>
                    </tr>
                

            </table>
        </form>

        <form method="post" id="deleteOneForm">
            <input type="hidden" name="uids[]" id="uidOne" value="" />
        </form>

    </div>
</template>

<script>
import Moment from 'moment';
export default {
    props: ['showUserSelect', 'parentChannel'],
    methods: {
        confirmOne: function(item) {
            let self = this;
            if(this.parentChannel) {
                this.$dialog.confirm({
                    title:'Confirm Dissociate',
                    message:'Are you sure you want to dissociate <b>'+item.name+'</b> from channel?',
                    onConfirm: () => {
                        let form = document.querySelector(' #deleteOneForm');
                        form.action = route('channels.dissociate', {type: 'apps', cat:self.parentChannel} );
                        document.querySelector('#uidOne').value = item.uid;
                        form.submit();
                    }
                });
            } else {
                this.$dialog.confirm({
                    title:'Confirm Delete',
                    message:'Are you sure you want to delete <b>'+item.name+'</b>? '+
                            ' This action cannot be undone.',
                    onConfirm: () => {
                        let form = document.querySelector('#ManageApps #deleteOneForm');
                        form.action = route('clients.delete');
                        document.querySelector('#ManageApps #uidOne').value = item.uid;
                        form.submit();
                    }
                });
            }
            
        },
        confirmSelected: function() {
            if (this.selected.length < 1)
                return;
            
            let self = this;

            if (this.parentChannel) {
                this.$dialog.confirm({
                    title:'Confirm Dissociate',
                    message:'Are you sure you want to dissociate <b>'+this.selected.length+' apps</b> from channel?',
                    onConfirm: () => {
                        let form = document.querySelector('#deleteSelForm');
                        form.action = route('channels.dissociate', {type: 'apps', cat: self.parentChannel} );
                        form.submit();
                    }
                });
            } else {
                this.$dialog.confirm({
                    title:'Confirm Delete',
                    message:'Are you sure you want to delete <b>'+this.selected.length+' Apps</b>? '+
                            ' This action cannot be undone.',
                    onConfirm: () => {
                        let form = document.querySelector('#ManageApps #deleteSelForm');
                        form.action = route('clients.delete');
                        form.submit();
                    }
                });
            }
        },
        isSelected: function(uid) {
            return this.selected.indexOf(uid) >=0;
        },
        selectSingle: function(uid) {
            //console.log('clicked:' + uid);
            let idx = this.selected.indexOf(uid);
            if (idx >= 0) {
                this.selected.splice(idx, 1);
            } else {
                this.selected.push(uid);
            }
            document.querySelectorAll('#checkAll').checked = false;
        },
        selectAll: function() {
            let chkinputs = document.querySelectorAll('input[type=checkbox]'); 
            if (this.list.length == this.selected.length) {
                this.selected = [];
                document.querySelectorAll('#checkAll').checked = false;
                for (let chkbx of chkinputs) {
                    chkbx.checked = false;
                }
            } else {
                this.selected = [];
                document.querySelectorAll('#checkAll').checked = true;
                for (let chkbx of chkinputs) {
                    chkbx.checked = true;
                }
                for (let item of this.list) {
                    this.selected.push(item.uid);
                }
            }
        },
        selectUser: function(user) {

            let userId = user? user.id : 0;

            if (userId)
                window.location.href=route('clients.page') + '?user=' +userId;
            else
                window.location.href=route('clients.page');
        },
        editApp: function(uid) {
            window.location.href=route('clients.page')+ '/'+uid;
        },
        showVideos: function(uid) {
            window.location.href=route('clients.page')+ '/'+uid;
        },
        showToken: function(token) {
            this.$dialog.alert({
                title:'Access Token',
                message: `<textarea class="textarea" rows="6" id="tokenValue">`+token+`</textarea>`,
                confirmText: 'Copy to Clipboard',
                onConfirm: () => {
                    console.log('Done!');

                    let copyTextarea = document.querySelector('#tokenValue');
                    copyTextarea.select();

                    try {
                        let successful = document.execCommand('copy');
                        let msg = successful ? 'successful' : 'unsuccessful';
                        console.log('Copying text command was ' + msg);
                    } catch (err) {
                        console.log('Oops, unable to copy');
                    }
                }
            })
            
           /*
           this.$modal.open({
                parent: this,
                component: ModalForm,
                hasModalCard: true
            })
            */
        },
        formattedCreatedAt: function(item) {
            return Moment.utc(item.created_at).local().format('DD-MMM-YY');
        },
        formattedUpdatedAt: function(item) {
            return Moment.utc(item.updated_at).local().fromNow();
        }
    },
    data: function() {
        return {
            users: app_data.users,
            //selectedUserId: app_data.selectedUser? app_data.selectedUser.id : 0,
            selectedUser: app_data.selectedUser,
            list: app_data.list,
            selected: []
        }
    },
    computed: {
        
    }
}
</script>
