<template>
    <div>
        <div class="content-toolbar">
            <div>
                <user-selector 
                    :selectedId="selectedUserId" 
                    v-if="showUserSelect"
                    v-on:change="selectUser">
                </user-selector>
            </div>

            <div class="selected-count" v-if="selected.length > 0">
                {{selected.length}} CATEGORIES SELECTED
            </div>

            <div class="btn-tool-group">
                <button
                    class="vpp-select-btn icon-delete"
                    :class="{'vpp-select-active':selected.length>0}"
                    @click="confirmSelected()"></button>
                <!--button class="vpp-select-btn icon-delete" @click="$modal.open(`example`)"></button-->
            </div>
            
        </div>

        <form method="post" id="deleteSelForm">

            <table class="table is-fullwidth is-striped is-hoverable">
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkAll" name="" @click="selectAll()">
                                <i class="helper"></i>
                            </label>
                        </div>
                    </th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
                <tr v-for="item in this.list" 
                    :key="item.id"
                    :class="isSelected(item.uid)? 'selected' : '' "
                    >
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type='checkbox' name="uids[]" :value="item.uid" @change="selectSingle(item.uid)">
                                <i class="helper"></i>
                            </label>
                        </div>
                    </td>
                    <td>
                        <a @click="showVideos(item.uid)" class="vpp-title">{{ item.name }}</a>
                    </td>
                    <td class="vpp-datetime">
                        {{ formattedCreatedAt(item) }}<br>
                        <span class="user">{{ item.username }}</span>
                    </td>
                    <td class="vpp-datetime">{{ formattedUpdatedAt(item) }}</td>
                    <td> 
                        <a @click="editCategory(item.uid)" class="icon-edit vpp-action"></a>
                        <a @click="confirmOne(item)" class="icon-delete vpp-action"></a>
                    </td>
                </tr>
                
            </table>

        </form>
        
        <form method="post" id="deleteOneForm">
            <input type="hidden" name="uids[]" id="uidOne" value="" />
        </form>

    </div>
</template>

<script>
import Moment from 'moment';
export default {
    props: ['showUserSelect'],
    methods: {
        confirmOne: function(item) {
            this.$dialog.confirm({
                title:'Confirm Delete',
                message:'Are you sure you want to delete <b>'+item.name+'</b>? '+
                        ' This action cannot be undone.',
                onConfirm: () => {
                    let form = document.querySelector('#deleteOneForm');
                    form.action = route('categories.delete');
                    document.querySelector('#uidOne').value = item.uid;
                    form.submit();
                }
             });
        },
        confirmSelected: function() {
            if (this.selected.length < 1)
                return;
            this.$dialog.confirm({
                title:'Confirm Delete',
                message:'Are you sure you want to delete <b>'+this.selected.length+' Categories</b>? '+
                        ' This action cannot be undone.',
                onConfirm: () => {
                    let form = document.querySelector('#deleteSelForm');
                    form.action = route('categories.delete');
                    form.submit();
                }
             });
        },
        isSelected: function(uid) {
            return this.selected.indexOf(uid) >=0;
        },
        selectSingle: function(uid) {
            //console.log('clicked:' + uid);
            let idx = this.selected.indexOf(uid);
            if (idx >= 0) {
                this.selected.splice(idx, 1);
            } else {
                this.selected.push(uid);
            }
            document.querySelectorAll('#checkAll').checked = false;
        },
        selectAll: function() {
            let chkinputs = document.querySelectorAll('input[type=checkbox]'); 
            if (this.list.length == this.selected.length) {
                this.selected = [];
                document.querySelectorAll('#checkAll').checked = false;
                for (let chkbx of chkinputs) {
                    chkbx.checked = false;
                }
            } else {
                this.selected = [];
                document.querySelectorAll('#checkAll').checked = true;
                for (let chkbx of chkinputs) {
                    chkbx.checked = true;
                }
                for (let item of this.list) {
                    this.selected.push(item.uid);
                }
            }
        },
        selectUser: function(user) {
            let userId = user? user.id : 0;
            if (userId)
                window.location.href=route('categories.page') + '?user=' + userId;
            else
                window.location.href=route('categories.page');
        },
        editCategory: function(uid) {
            window.location.href=route('categories.page')+ '/'+uid+'/edit';
        },
        showVideos: function(uid) {
            window.location.href=route('categories.page')+ '/'+uid+'/videos';
        },
        formattedCreatedAt: function(item) {
            return Moment.utc(item.created_at).local().format('DD-MMM-YY');
        },
        formattedUpdatedAt: function(item) {
            return Moment.utc(item.updated_at).local().fromNow();
        }
    },
    data: function() {
        return {
            selectedUserId: app_data.selectedUser? app_data.selectedUser.id : 0,
            list: app_data.list,
            selected: []
        }
    },
    computed: {
        
    }
}
</script>
