<template>
    <div v-if="loaded">
        <div v-if="users.length">
            <div class="content-toolbar">
                <div class="selected-count is-uppercase" v-if="selected.length > 0">
                    {{selected.length}} user(s) selected
                </div>
            </div>
            <div class="level">
                <div class="level-left"></div>
                <div class="level-right">
                    <div class="btn-tool-group">
                        <button class="vpp-select-btn icon-delete" :class="{'vpp-select-active': selected.length > 0}"
                            @click="confirmSelected()"></button>
                    </div>
                </div>
            </div>

            <table class="users table is-fullwidth is-striped is-hoverable">
                    <tr>
                        <th>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checkAll" name="" @click="selectAll()">
                                    <i class="helper"></i>
                                </label>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    <tr v-for="item in this.users" :key="item.id" :class="isSelected(item.uid) ? 'selected' : ''">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' name="uids[]" :value="item.uid" @change="selectSingle(item.uid)">
                                    <i class="helper"></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <span class="vpp-title">{{ item.name }}</span>
                        </td>
                        <td class="vpp-datetime">
                            <div v-for="role in item.roles">{{ role.label }}</div>
                        </td>
                        <td>
                            <span class="status" :class="item.status ? 'active' : ''">{{ item.active }}</span>
                        </td>
                        <td>
                            <a :href="route('users.edit', {user: item.uid})" class="icon-edit vpp-action"></a>
                            <a @click="confirmOne(item)" class="icon-delete vpp-action"></a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="loading" v-else>Loading</div>
</template>

<script>
import Moment from 'moment';

export default {
    data() {
        return {
            loaded: false,
            users: [],
            selected: []
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        route: route,
        getData: function () {
            let _this = this;

            this.getUsers();
        },
        getUsers: function () {
            return axios.get(route('users.list')).then(response => {
                this.loaded = true;
                this.users = response.data;
            });
        },
        confirmOne: function(item) {
            this.$dialog.confirm({
                title: 'Confirm Delete',
                message: 'Are you sure you want to delete <b>' + item.name + '</b>? ' +
                        'This action cannot be undone.',
                onConfirm: () => {
                    axios.delete(route('users.destroy', {user: item.uid})).then(response => {
                        this.getData();
                    });
                }
             });
        },
        confirmSelected: function() {
            if (this.selected.length < 1) {
                return;
            }

            this.$dialog.confirm({
                title: 'Confirm Delete',
                message: 'Are you sure you want to delete <b>' + this.selected.length + ' users</b>? ' +
                        'This action cannot be undone.',
                onConfirm: () => {
                    axios.post(route('users.destroy-multi'), {uids: this.selected}).then(response => {
                        this.selected = [];
                        $('#checkAll')[0].checked = false;
                        this.getData();
                    });
                }
             });
        },
        isSelected: function(uid) {
            return this.selected.indexOf(uid) >=0;
        },
        selectSingle: function(uid) {
            let idx = this.selected.indexOf(uid);

            if (idx >= 0) {
                this.selected.splice(idx, 1);
            } else {
                this.selected.push(uid);
            }

            $('#checkAll')[0].checked = false;
        },
        selectAll: function() {
            let chkinputs = $('input[type=checkbox]');

            if (this.users.length === this.selected.length) {
                this.selected = [];
                $('#checkAll')[0].checked = false;

                for (let chkbx of chkinputs) {
                    chkbx.checked = false;
                }
            } else {
                this.selected = [];
                $('#checkAll')[0].checked = true;

                for (let chkbx of chkinputs) {
                    chkbx.checked = true;
                }
                for (let item of this.users) {
                    this.selected.push(item.uid);
                }
            }
        }
    }
}
</script>
