<template>

    <div>
        <div class="columns filter-container content-toolbar">
            <div class="column is-10">
            
                <div class="select is-rounded">
                    <select class="vpp-select" style="height: 40px;">
                        <option>All ratings</option>
                    </select>
                </div>
            </div>
            <div class="column is-2" style="display: flex; justify-content: center;">
                <!-- <div class="selected-count" v-if="selected.length > 0">
                    {{ selected.length }} channels selected
                </div>
                <button class="vpp-select-btn icon-push" 
                    :class="{ 'vpp-select-active' :selected.length > 0 }"
                    @click="testSelected()"
                    ></button>
                <button class="vpp-select-btn icon-close" 
                    :class="{ 'vpp-select-active' :selected.length > 0 }"
                    @click="ss()"
                    ></button> -->
            </div>
        </div>


        <table class="table is-fullwidth is-striped is-hoverable">
                <tr>
                    <th>
                        <!-- <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkAll" name="" @click="selectAll()">
                                <i class="helper"></i>
                            </label>
                        </div> -->
                    </th>
                    <th>channel</th>
                    <th>added</th>
                    <th>status</th>
                    <th>Actions</th>
                </tr>
                <tr v-for="(item, index) in this.list.data" 
                    :key="item.id"
                    :class="isSelected(item.uid)? 'selected' : '' "
                    >
                    <td>
                        <!-- <div class="checkbox">
                            <label>
                                <input type='checkbox' name="uids[]" :value="item.uid" @change="selectSingle(item.uid)">
                                <i class="helper"></i>
                            </label>
                        </div> -->
                    </td>
                    <td>
                        <a @click="editChannel(item.uid)" class="vpp-title">{{ item.name }}</a>
                    </td>
                    <td class="vpp-datetime">
                        {{ formattedCreatedAt(item) }}<br>
                        <span class="user">{{ item.user.name }}</span>
                    </td>
                    <td class="vpp-datetime">
                        <span v-bind:class="statusClass(item)">{{ item.content_status }}</span>
                    </td>
                    <td> 

                        <a v-if="item.content_status == 'pushed'" @click="pushToChannel(index)" class="icon-pull vpp-action"></a>
                        <a v-if="item.content_status != 'pushed'"  @click="pushToChannel(index)" class="icon-push vpp-action"></a>
                        <a @click="confirmOne(item)" class="icon-close vpp-action"></a>

                        <push-content :content="appData.content" :type="'channel'" :channel="item" :rowid="index"></push-content>
                    </td>
                </tr>
        </table>
    </div>
</template>


<script>
import Moment from 'moment';
export default {
    props: ['showUserSelect', 'content', 'contentname'],
    methods: {
        recallPush(channel) {
            axios.post(route('content.recall_push'), {
                'content_uid': this.content,
                'channel_uid': channel.uid
                }).then(response => {
                    channel.content_status = 'unpushed';
            }).catch(e => {
                this.requestErrors = this.glFilterValidationErrors(e.response.data.errors);

                if (this.requestErrors.length < 1) {
                    this.requestErrors.push(e.message);
                }

                this.loading = false;
            });
        },
        pushToChannel(index) {
//             let idx = this.selected.indexOf(item.uid);
//             if (idx < 0) {
//                 this.selected.push(item.uid);
//                 this.selectedChannels.push(item);
//             }
// console.log('push_channel_' + item.uid);
            this.glToggleModal('push_channel_' + index);
        },
        statusClass(item) {

            if (item.content_status == 'queued') {
                return 'vpp-queued';
            }
            if (item.content_status == 'pushed') {
                return 'vpp-pushed';
            }

            return;
        },
        isSelected: function(uid) {
            return this.selected.indexOf(uid) >=0;
        },
        selectSingle: function(uid) {
            let idx = this.selected.indexOf(uid);
            if (idx >= 0) {
                this.selected.splice(idx, 1);
            } else {
                this.selected.push(uid);
            }
            document.querySelectorAll('#checkAll').checked = false;
        },
        selectAll: function() {
            let chkinputs = document.querySelectorAll('input[type=checkbox]'); 
            if (this.list.length == this.selected.length) {
                this.selected = [];
                document.querySelectorAll('#checkAll').checked = false;
                for (let chkbx of chkinputs) {
                    chkbx.checked = false;
                }
            } else {
                this.selected = [];
                document.querySelectorAll('#checkAll').checked = true;
                for (let chkbx of chkinputs) {
                    chkbx.checked = true;
                }
                for (let item of this.list) {
                    this.selected.push(item.uid);
                }
            }
        },
        formattedCreatedAt: function(item) {
            return Moment.utc(item.created_at).local().format('DD-MMM-YY');
        },
        formattedUpdatedAt: function(item) {
            return Moment.utc(item.updated_at).local().fromNow();
        },
        editChannel: function(uid) {
            window.location.href=route('channels.edit_page', {uid: uid});
        }
    },
    data: function() {
        return {
            list: app_data.list,
            selected: [],
            selectedChannels: [],
            appData: app_data
        }
    },
    computed: {

    }
}
</script>

