<template>
    <div>
        <div class="content-toolbar">
            <div>
                <user-selector 
                    class="vpp-select-inline"
                    :selected="selectedUser"
                    v-if="showUserSelect"
                    v-on:change="selectUser">
                </user-selector>
                <div class="select is-rounded">
                    <select class="vpp-select" style="height: 40px;" @change="selectRating($event)">
                        <option>All ratings</option>
                        <option value="18">18+</option>
                    </select>
                </div>
                <category-selector 
                    class="vpp-select-inline"
                    :selected="selectedCategory"
                    :user="selectedUser"
                    v-on:change="changedCategory">
                </category-selector>
            </div>
            <div class="selected-count" v-if="selected.length > 0">
                {{ selected.length }} VIDEOS SELECTED
            </div>
            <div class="btn-tool-group">
                <button class="vpp-select-btn icon-test-devices" 
                    :class="{ 'vpp-select-active' :selected.length > 0 }"
                    @click="testSelected()"
                    ></button>
                <button class="vpp-select-btn icon-delete" 
                    :class="{ 'vpp-select-active' :selected.length > 0 }"
                    v-if="!parentCategory && !parentChannel"
                    @click="confirmSelected()"
                    ></button>
                <button class="vpp-select-btn icon-close" 
                    :class="{ 'vpp-select-active' :selected.length > 0 }"
                    v-else
                    @click="confirmSelected()"
                    ></button>
                
            </div>
        </div>

            <table class="table is-fullwidth is-striped">
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="" @click="selectAll()">
                                <i class="helper"></i>
                            </label>
                        </div>
                    </th>
                    <th>title</th>
                    <th>uploaded</th>
                    <th>modified</th>
                    <th>actions</th>
                </tr>
                <tr v-for="(item, key) in this.list" 
                    :key="key"
                    :class="[{ striped: isStriped(key) }, { selected: isSelected(item.uid)}]">
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" name="uids[]" :value="item.uid" @change="selectSingle(item.uid)">
                            <i class="helper"></i></label>
                        </div>
                    </td>
                    <td>
                        <a class="vpp-title" @click="pushVideoToChannel(item.uid)">{{ item.title }}</a>
                        <span v-if="item.explicit == true" class="explicit-tag is-pulled-right">EXPLICIT</span>
                    </td>
                    <td class="vpp-datetime">
                        {{ formattedCreatedAt(item) }}
                        <br>
                        <span class="user">{{ item.username }}</span>
                    </td>
                    <td class="vpp-datetime">{{ formattedUpdatedAt(item) }}</td>
                    <td>
                        <a :class="{'cant-push': !item.can_push}" 
                            class="icon-test-devices vpp-action"
                            @click="showPushToDevice(key)"></a>
                        <a :class="{'cant-push': !item.can_push}"
                            class="icon-edit vpp-action"
                            @click="editVideo(item.uid)"></a>
                            
                        <a :class="{'cant-push': !item.can_push}"
                            class="icon-delete vpp-action"
                            v-if="!parentCategory && !parentChannel"
                            @click="confirmOne(item)"></a>
                        <a :class="{'cant-push': !item.can_push}"
                            class="icon-close vpp-action"
                            v-else
                            @click="confirmOne(item)"></a>
                    </td>
                    <push-content :content="item" :type="'device'" :rowid="key"></push-content>
                    
                </tr>
            </table>
        
        <form method="post" id="deleteSelForm">
            <input
                v-for="(uid, key) in this.selected"
                :key="key"
                type="hidden"
                name="uids[]"
                :value="uid" />
        </form>
        <form method="post" id="deleteOneForm">
            <input type="hidden" name="uids[]" id="uidOne" value="" />
        </form>
    </div>    
</template>


<script>
import Moment from 'moment';
export default {
  props: ['showUserSelect', 'parentCategory', 'parentChannel'],
  methods: {
    confirmOne: function(item) {
        let self = this;
        if (this.parentCategory) {
            this.$dialog.confirm({
                title:'Confirm Dissociate',
                message:'Are you sure you want to dissociate <b>'+item.title+'</b> from category?',
                onConfirm: () => {
                    let form = document.querySelector(' #deleteOneForm');
                    form.action = route('categories.dissociate', {type: 'videos', cat:self.parentCategory} );
                    document.querySelector('#uidOne').value = item.uid;
                    form.submit();
                }
            });
        } else if(this.parentChannel) {
            this.$dialog.confirm({
                title:'Confirm Dissociate',
                message:'Are you sure you want to dissociate <b>'+item.title+'</b> from channel?',
                onConfirm: () => {
                    let form = document.querySelector(' #deleteOneForm');
                    form.action = route('channels.dissociate', {type: 'videos', cat:self.parentChannel} );
                    document.querySelector('#uidOne').value = item.uid;
                    form.submit();
                }
            });
        } else {
            this.$dialog.confirm({
                title:'Confirm Delete',
                message:'Are you sure you want to delete <b>'+item.title+'</b>? '+
                        ' This action cannot be undone.',
                onConfirm: () => {
                    let form = document.querySelector(' #deleteOneForm');
                    form.action = route('content.remove');
                    document.querySelector('#uidOne').value = item.uid;
                    form.submit();
                }
            });
        }
        
    },
    confirmSelected: function() {
        if (this.selected.length < 1)
            return;
        
        let self = this;
        
        if (this.parentCategory) {
            this.$dialog.confirm({
                title:'Confirm Dissociate',
                message:'Are you sure you want to dissociate <b>'+this.selected.length+' Videos</b> from category?',
                onConfirm: () => {
                    let form = document.querySelector('#deleteSelForm');
                    form.action = route('categories.dissociate', {type: 'videos', cat:self.parentCategory} );
                    form.submit();
                }
            });
        } else if (this.parentChannel) {
            this.$dialog.confirm({
                title:'Confirm Dissociate',
                message:'Are you sure you want to dissociate <b>'+this.selected.length+' Videos</b> from channel?',
                onConfirm: () => {
                    let form = document.querySelector('#deleteSelForm');
                    form.action = route('channels.dissociate', {type: 'videos', cat:self.parentChannel} );
                    form.submit();
                }
            });
        } else {
            this.$dialog.confirm({
                title:'Confirm Delete',
                message:'Are you sure you want to delete <b>'+this.selected.length+' Videos</b>? '+
                        ' This action cannot be undone.',
                onConfirm: () => {
                    let form = document.querySelector('#deleteSelForm');
                    form.action = route('content.remove');
                    form.submit();
                }
            });
        }
        
    },
    isStriped(key) {
        if (key % 2 === 0) return true;
        
        return false;
    },
    selectSingle(uid) {
        let idx = this.selected.indexOf(uid);
        if (idx >= 0) {
            this.selected.splice(idx, 1);
        } else {
            this.selected.push(uid);
        }
        document.querySelectorAll('#checkAll').checked = false;
    },
    isSelected(uid) {
        return this.selected.indexOf(uid) >= 0;
    },
    selectAll() {
        let chkinputs = document.querySelectorAll('input[type=checkbox]'); 
        if (this.list.length == this.selected.length) {
            this.selected = [];
            document.querySelectorAll('#checkAll').checked = false;
            for (let chkbx of chkinputs) {
                chkbx.checked = false;
            }
        } else {
            this.selected = [];
            document.querySelectorAll('#checkAll').checked = true;
            for (let chkbx of chkinputs) {
                chkbx.checked = true;
            }
            for (let item of this.list) {
                this.selected.push(item.uid);
            }
        }
    },
    showPushToDevice(index) {
        this.glToggleModal('push_device_' + index);
    },
    editVideo: function(uid) {
        window.location.href=route('content.edit_page')+ '/'+uid;
    },
    pushVideoToChannel(uid) {
        window.location.href=route('content.push_to_channel', {uid: uid});
    },
    formattedCreatedAt: function(item) {
        return Moment.utc(item.created_at).local().format('DD-MMM-YY');
    },
    formattedUpdatedAt: function(item) {
        return Moment.utc(item.updated_at).local().fromNow();
    },
    selectUser: function(user) {
        let userId = user? user.id : 0;

        let strQuery = "";
        if (app_data.params) {
            app_data.params.user = userId;
            app_data.params.page = 1;
            let ret = [];
            for (let d in app_data.params) {
                if (d == 'cat') {
                    for(let cat_id of app_data.params.cat) {
                        ret.push('cat[]=' + cat_id);
                    }
                    continue;
                }
                ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(app_data.params[d]));
            }
            strQuery = ret.join('&');
        } else {
            strQuery = "user=" + userId;
        }

        if (userId)
            window.location.href=route('content.page') + '?' + strQuery;
        else
            window.location.href=route('content.page');
    },
    selectRating: function($e) {

        let ratingId = $e.target.value;

        let strQuery = "";
        if (app_data.params) {
            app_data.params.rating = ratingId;
            app_data.params.page = 1;
            let ret = [];
            for (let d in app_data.params) {
                ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(app_data.params[d]));
            }
            strQuery = ret.join('&');
        } else {
            strQuery = "rating=" + ratingId;
        }

        if (ratingId)
            window.location.href=route('content.page') + '?' + strQuery;
        else
            window.location.href=route('content.page');
    },
    changedCategory: function(categories) {
        let ret = [];
        for(let cat of categories) {
            ret.push('cat[]=' + cat.id);
        }
        let strQuery = "";
        if (app_data.params) {
            app_data.params.page = 1;
            for (let d in app_data.params) {
                if (d == 'cat')
                    continue;
                ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(app_data.params[d]));
            }
        }
        strQuery = ret.join('&');

        if (categories.length > 0)
            window.location.href=route('content.page') + '?' + strQuery;
        else
            window.location.href=route('content.page');
    },
  },
  data() {
      return {
        users: app_data.users,
        //selectedUserId: app_data.selectedUser? app_data.selectedUser.id : 0,
        selectedUser: app_data.selectedUser,
        selectedCategory: app_data.selectedCategory,
        list: app_data.list,
        selected: []
      }
  }
}
</script>
