<template>
    <div v-if="loaded">
        <div>
            <div class="content-toolbar">
                <div>
                    <user-selector 
                        class="vpp-select-inline"
                        :selectedId="selectedUserId"
                        v-on:change="selectUser">
                    </user-selector>
                    <div class="select is-rounded">
                        <select class="vpp-select" style="height: 40px;">
                            <option>All ratings</option>
                        </select>
                    </div>
                </div>

                <div class="selected-count is-uppercase" v-if="selected.length > 0">
                    {{selected.length}} item(s) selected
                </div>

                <div class="btn-tool-group">
                    
                    <button class="vpp-select-btn icon-close" 
                        :class="{ 'vpp-select-active' :selected.length > 0 }"
                        v-if="parentCategory"
                        @click="confirmSelected()"></button>
                    <button class="vpp-select-btn icon-delete"
                        :class="{'vpp-select-active': selected.length > 0}"
                        v-else
                        @click="confirmSelected()"></button>
                </div>
            </div>

            <table class="table is-fullwidth is-striped is-hoverable" >
                    <tr>
                        <th>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checkAll" name="" @click="selectAll()">
                                    <i class="helper"></i>
                                </label>
                            </div>
                        </th>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Actions</th>
                    </tr>
                    <tr v-for="item in this.ads" :key="item.id" :class="isSelected(item.uid) ? 'selected' : ''">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' name="uids[]" :value="item.uid" @change="selectSingle(item.uid)">
                                    <i class="helper"></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <!--<a :href="route('ads.show', {ad: item.uid})" class="vpp-title">{{ item.title }}</a>-->
                            <span class="vpp-title">{{ item.title }}</span>
                        </td>
                        <td class="vpp-datetime">
                            {{ formattedCreatedAt(item) }}<br>
                            <span class="user">{{ item.user.name }}</span>
                        </td>
                        <td class="vpp-datetime">{{ formattedUpdatedAt(item) }}</td>
                        <td>
                            <a :href="route('ads.edit', {ad: item.uid})"
                                class="icon-edit vpp-action"></a>
                            <a class="icon-close vpp-action" 
                                v-if="parentCategory"
                                @click="confirmOne(item)" ></a>
                            <a class="icon-delete vpp-action"
                                v-else
                                @click="confirmOne(item)" ></a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="loading" v-else>Loading</div>
</template>

<script>
import Moment from 'moment';

export default {
    props: ['parentCategory'],
    data() {
        return {
            loaded: false,
            users: [],
            selectedUser: null,
            ads: [],
            selected: []
        }
    },
    computed: {
        selectedUserId() {
            let user_param = this.getUrlParameterByName('user');
            return user_param? user_param : 0;
        },
    },
    mounted() {
        this.getData();
    },
    methods: {
        route: route,
        getData: function () {
            let _this = this;

            axios.all([this.getAds(), this.getUsers()]).then(axios.spread(function (acct, perms) {
                _this.loaded = true;
            }));
        },
        getAds: function () {
            let url = route('ads.list');
            let userId = this.getUrlParameterByName('user');

            if (userId) {
                url += '?user=' + userId;
            }

            return axios.get(url).then(response => {
                this.ads = response.data;
            });
        },
        getUsers: function () {
            return axios.get(route('users.list')).then(response => {
                this.users = response.data;
                let userId = this.getUrlParameterByName('user');

                if (this.users.length && userId) {
                    this.users.forEach(function (user) {
                        if (user.id === userId) {
                            this.selectedUser = user;
                        }
                    })
                }
            });
        },
        confirmOne: function(item) {
            let self = this;
            if (this.parentCategory) {
                //
            } else {
                this.$dialog.confirm({
                    title: 'Confirm Delete',
                    message: 'Are you sure you want to delete <b>' + item.title + '</b>?' +
                            'This action cannot be undone.',
                    onConfirm: () => {
                        axios.delete(route('ads.destroy', {ad: item.uid})).then(response => {
                            this.getData();
                        });
                    }
                });
            }
        },
        confirmSelected: function() {
            if (this.selected.length < 1) {
                return;
            }

            let self = this;

            if (this.parentCategory) {
                //
            } else {
                this.$dialog.confirm({
                    title: 'Confirm Delete',
                    message: 'Are you sure you want to delete <b>' + this.selected.length + ' ads</b>? ' +
                            'This action cannot be undone.',
                    onConfirm: () => {
                        axios.post(route('ads.destroy-multi'), {uids: this.selected}).then(response => {
                            this.selected = [];
                            $('#checkAll')[0].checked = false;
                            this.getData();
                        });
                    }
                });
            }
        },
        isSelected: function(uid) {
            return this.selected.indexOf(uid) >=0;
        },
        selectSingle: function(uid) {
            let idx = this.selected.indexOf(uid);

            if (idx >= 0) {
                this.selected.splice(idx, 1);
            } else {
                this.selected.push(uid);
            }

            $('#checkAll')[0].checked = false;
        },
        selectAll: function() {
            let chkinputs = $('input[type=checkbox]');

            if (this.ads.length === this.selected.length) {
                this.selected = [];
                $('#checkAll')[0].checked = false;

                for (let chkbx of chkinputs) {
                    chkbx.checked = false;
                }
            } else {
                this.selected = [];
                $('#checkAll')[0].checked = true;

                for (let chkbx of chkinputs) {
                    chkbx.checked = true;
                }
                for (let item of this.ads) {
                    this.selected.push(item.uid);
                }
            }
        },
        selectUser: function(user) {

            let userId = user? user.id : 0;
            if (userId){
                window.location.href = route('ads.index') + '?user=' + userId;
            } else {
                let userParam = this.getUrlParameterByName('user');
                if (userParam) {
                    window.location.href = route('ads.index');
                }
            }
        },
        formattedCreatedAt: function(item) {
            return Moment.utc(item.created_at).local().format('DD-MMM-YY');
        },
        formattedUpdatedAt: function(item) {
            return Moment.utc(item.updated_at).local().fromNow();
        }
    }
}
</script>
