<template>
    <div>
        <h1 class="centered">{{ title }}</h1>
        <div class="centered" style="height: 4px; margin-top: 12px;">
            <hr style="width: 60px; height: 4px;border-radius: 3px;background-color: #d70e54; margin-top: 0px;">
        </div>
    </div>
</template>

<script>
export default {
  props: ['title']
}
</script>
