<template>
    <div class="navbar-link vpp-notif-box" :class="opened? 'is-active':''">
        <div class="vpp-rot">
            <a class="icon-notifications" @click="openList"></a>
        </div>
        <div class="listing" data-simplebar v-if="opened">
            <h2 class="subtitle">Notifications</h2>
            <div class="items" v-if="notifications">
                <div class="group" v-for="(items, when) in notifications">
                    <h3 class="when">{{ when }}</h3>
                    <div class="item" v-for="item in items">
                        <div class="level">
                            <div class="level-left">
                                <div class="username">{{ item.username }}</div>
                            </div>
                            <div class="level-right">
                                <div class="time">{{ item.time }}</div>
                            </div>
                        </div>
                        <div class="action">{{ item.action }} ‘{{ item.title }}’</div>
                        <div class="level">
                            <div class="level-left">
                                <div class="entity">
                                    <a :href="item.url">{{ item.entity }}</a>
                                </div>
                            </div>
                            <div class="level-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading" v-else>Loading</div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        data() {
            return {
                opened: false,
                notifications: null,
                moment: moment
            }
        },
        methods: {
            openList() {
                this.opened = !this.opened;

                if (this.opened) {
                    axios.post(route('notifications'), {tzOffset: moment().utcOffset()}).then(response => {
                        this.notifications = response.data;
                    });
                } else {
                    this.notifications = null;
                }
            }
        }
    }
</script>
