
<template>
    <div>
        <div :id="getModalId()" class="modal animated fadeIn">
            <div class="modal-background"></div>
            <div class="modal-card vpp-push-modal" v-if="!pushed">
                <header class="modal-card-head">
                    <div class="modal-top">
                        <a class="is-pulled-right icon-close vpp-modal-close" @click="glToggleModal(getModalId())"></a>
                        <br>
                        <modal-title :title="getTitle()"></modal-title>
                    </div>
                </header>
                <section class="modal-card-body vpp-modal-body">
                    <form method="POST" class="form">
                        <csrf></csrf>
                        <validation-alerts :vErrors="requestErrors"></validation-alerts>

                        <div class="control" v-if="this.type == 'device'">
                            <label>OneSignal UUID*</label>
                            <input v-validate="'required|min:36|max:36'" :class="{ errorBorder: errors.has('Onesignal UUID') }" class="input vpp-input" type="text" name="Onesignal UUID" v-model="postBody.onesignal_uid">
                        </div>

                        <div class="control">
                            <label>Notification Message*</label>
                            <input class="input vpp-input" type="text" placeholder="$Title is Now Available!" v-model="postBody.notification">
                        </div>

                        <div class="control">
                            <div class="columns" style="margin-bottom: 0px;">
                                <div class="column is-4"><label>Expires*</label></div>
                                <div class="column is-8 is-pulled-right" style="display:flex; justify-content:flex-end;">
                                    <button v-bind:class="{ toggled: isToggled('date') }" class="vpp-toggle-btn" id="toggle_date" @click="toggleDurationType('date')">date</button>
                                    <button v-bind:class="{ toggled: isToggled('time') }" class="vpp-toggle-btn" id="toggle_time" @click="toggleDurationType('time')">time</button>
                                </div>
                            </div>
                            <div class="columns">
                                <!-- Date expiry -->
                                <div class="column is-12" v-if="showDuration == 'date'">
                                    <div>
                                        <datetime 
                                            :format="{ year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit'}" 
                                            v-validate="'required'" 
                                            :minute-step="15"
                                            :class="{errorBorder: errors.has('Expires at date')}"
                                            name="Expires at Date"
                                            v-model="postBody.expires_at_date"
                                            type="datetime"
                                        ></datetime>
                                        <span v-show="errors.has('Expires at date')" class="errorText">{{errors.first('Expires at date')}}</span>
                                    </div>
                                </div>
                                <!-- // -->
                                <!-- Time expiry -->
                                    <div class="column is-6" v-if="showDuration == 'time'">
                                        <div class="control is-marginless is-paddingless">
                                            <input class="input vpp-inp" type="text" v-model="postBody.expiry_time" placeholder="Enter number">
                                        </div>
                                    </div>
                                    <div class="column is-6" v-if="showDuration == 'time'">
                                        <div class="control is-marginless is-paddingless">
                                            <select class="vpp-select top-mrg" v-model="postBody.expiry_time_value">
                                                <option value="">Select Unit</option>
                                                <option value="minutes">minutes</option>
                                                <option value="hours">hours</option>
                                                <option value="days">days</option>
                                            </select>
                                        </div>
                                    </div>
                                <!-- // -->
                            </div>
                        </div>

                        <div class="control" v-if="type == 'channel'">
                            <label>Queue</label>
                            <datetime 
                                :format="{ year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit'}"
                                :class="{errorBorder: errors.has('Expires at date')}" 
                                :minute-step="15"
                                name="Expires at Date" 
                                v-model="postBody.push_at" 
                                type="datetime"
                            ></datetime>
                        </div>

                    </form>
                </section>
                <footer class="modal-card-foot">
                    <div class="vpp-modal-foot">
                        <button :disabled="errors.all().length > 0" type="submit" class="button submit-btn" v-bind:class="{'is-loading': loading}" @click="pushContent">Push</button>
                        <button class="button cancel-btn" @click="glToggleModal(getModalId())">Cancel</button>
                    </div>
                </footer>

            </div>

            <!-- Successful modal -->
            <div class="modal-card vpp-push-modal" v-if="pushed">
                <header class="modal-card-head">
                <div class="modal-top">
                    <br>
                    <modal-title :title="getTitle()"></modal-title>
                </div>
                </header>
                <section class="modal-card-body vpp-modal-body">
                    <span align="center">You have successfully pushed videos.</span>
                </section>
                <footer class="modal-card-foot">
                    <div class="vpp-modal-foot">
                        <button class="button submit-btn" @click="approve()">Ok</button>
                        <button type="submit" class="button cancel-btn" v-bind:class="{'is-loading': loading}">Undo</button>
                    </div>
                </footer>
            </div>

        </div>
    </div>
</template>

<script>
export default {
  props: [
      'type', 'content', 'channel', 'rowid'
  ],
  data() {
      return {
        pushed: false,
        loading: false,
        formIsNotValid: false,
        showDuration: 'date',
        requestErrors: [],
        postBody: {
            content_uid: this.content.uid
        }
      }
  },
   methods: {
       approve() {
            this.pushed = false;
            this.glToggleModal(getModalId());
        },
        getTitle() {
            if (this.type == 'channel') {
                return 'Push to Channel';
            }

            return 'Push to Device';
        },
        getModalId() {
            return 'push_'+ this.type +'_' + this.rowid;
        },
        toggleDurationType(show) {
            event.preventDefault();
            this.showDuration = show;

            return this.showDuration;
        },
        isToggled(elem) {
            if (this.showDuration == elem) return true;

            return false;
        },
        pushContent(event) {
            event.preventDefault();

            this.loading = true;

            if (this.errors.all().length > 0) {
                this.loading = false;
                this.formIsNotValid = true;

                return false;
            }

            if (typeof this.channel !== 'undefined') {
                this.postBody.channels = [this.channel.uid];
            }

            axios.post(route('content.push_to_devices'), this.postBody).then(response => {
                this.requestErrors = [];
                this.pushed = true;
                this.loading = false;

                if (this.postBody.push_at) {
                    this.channel.content_status = 'queued';
                } else {
                    this.channel.content_status = 'pushed';
                }
            }).catch(e => {
                console.log(e.response.data.errors);
                this.requestErrors = this.glFilterValidationErrors(e.response.data.errors);
                
                if (this.requestErrors.length < 1) {
                    this.requestErrors.push(e.message);
                }

                this.loading = false;
            });
            
        }
    }
}
</script>
