<template>

<div>
  <div :id="'push_' + tpl_id" class="modal animated fadeIn">
  <div class="modal-background"></div>

  <div class="modal-card vpp-push-modal" v-if="!success">
    <header class="modal-card-head">
      <div class="modal-top">
          <a class="is-pulled-right icon-close vpp-modal-close" @click="glToggleModal('push_' + tpl_id)"></a>
          <br>
          <modal-title :title="'Push to Test Device'"></modal-title>
      </div>
    </header>
    <section class="modal-card-body vpp-modal-body">

        <form method="post" enctype="multipart/form-data" :action="item.title" class="form">

            <csrf></csrf>

            <validation-alerts :vErrors="requestErrors"></validation-alerts>

            <div class="control">
                <label>Single Device (OneSignal UUID)*</label>
                <input v-validate="'required|min:36|max:36'" :class="{ errorBorder: errors.has('Onesignal UUID') }" class="input" type="text" name="Onesignal UUID" v-model="postBody.onesignal_uid">
                <span v-show="errors.has('Onesignal UUID')" class="errorText">{{ errors.first('Onesignal UUID') }}</span>
            </div>

            <div class="control">
                <label>Notification Message*</label>
                <input class="input vpp-input" type="text" placeholder="$Title is Now Available!" v-model="postBody.notification">
            </div>

            <div class="control">
                <div class="columns" style="margin-bottom: 0px;">
                    <div class="column is-4"><label>Expires*</label></div>
                    <div class="column is-8 is-pulled-right" style="display:flex; justify-content:flex-end;">
                        <button v-bind:class="{ toggled: isToggled('date') }" class="vpp-toggle-btn" id="toggle_date" @click="toggleDurationType('date')">date</button>
                        <button v-bind:class="{ toggled: isToggled('time') }" class="vpp-toggle-btn" id="toggle_time" @click="toggleDurationType('time')">time</button>
                    </div>
                </div>
                <datetime 
                    :format="{ year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit'}"
                    v-validate="'required'"
                    :minute-step="15"
                    :class="{errorBorder: errors.has('Expires at date')}" name="Expires at Date"
                    v-model="postBody.expires_at_date"
                    type="datetime"
                    v-if="showDuration == 'date'"
                ></datetime>
                <span v-show="errors.has('Expires at date')" class="errorText">{{errors.first('Expires at date')}}</span>
                <!-- <datetime v-model="expires_at" type="datetime" :minute-step=15 :min-datetime="today" v-if="showDuration == 'date'"></datetime> -->
                <div v-if="showDuration == 'time'">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="control is-marginless is-paddingless">
                                <input class="input vpp-inp" type="text" v-model="postBody.expiry_time" placeholder="Enter number">
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="control is-marginless is-paddingless">
                                 <select class="vpp-select top-mrg" v-model="postBody.expiry_time_value">
                                    <option value="">Select Unit</option>
                                    <option value="minutes">minutes</option>
                                    <option value="hours">hours</option>
                                    <option value="days">days</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </section>

    <footer class="modal-card-foot">
        <div class="vpp-modal-foot">
            <button :disabled="errors.all().length > 0" type="submit" class="button submit-btn" v-bind:class="{'is-loading': loading}" @click="pushVideo">Push</button>
            <button class="button cancel-btn" @click="glToggleModal('push_' + tpl_id)">Cancel</button>
        </div>
    </footer>
    
    </div>
    
    <!-- Successful modal -->
    <div class="modal-card vpp-push-modal" v-if="success">
        <header class="modal-card-head">
        <div class="modal-top">
            <!-- <a class="is-pulled-right icon-close vpp-modal-close" @click="glToggleModal('push_' + tpl_id)"></a> -->
            <br>
            <modal-title :title="'Push to Test Device'"></modal-title>
        </div>
        </header>
        <section class="modal-card-body vpp-modal-body">
            <span align="center">You have successfully pushed <strong>{{ pushed }} videos</strong> to the test device <strong>{{ postBody.content_uid }}</strong>.</span>
        </section>
        <footer class="modal-card-foot">
            <div class="vpp-modal-foot">
                <button class="button submit-btn" @click="glToggleModal('push_' + tpl_id)">Ok</button>
                <button type="submit" class="button cancel-btn" v-bind:class="{'is-loading': loading}" @click="alert('pull from device')">Undo</button>
            </div>
        </footer>
    </div>

    
</div>

</div>


</template>


<script>


export default {
    props: ['tpl_id', 'item'],
    data() {
      return {
        showDuration: 'date',
        queue: null,
        expires_at: '',
        loading: false,
        onesignal_uid: '',
        formIsNotValid: false,
        requestErrors: [],
        postBody: {
            notification: '$Title is now available!',
            content_uid: this.item.uid
        },
        success: false,
        pushed: 0
      }
    },
    methods: {
        clearErrors(e) {
            e.preventDefault();
            this.requestErrors = [];
        },
        toggleDurationType(show) {
            event.preventDefault();
            this.showDuration = show;

            return this.showDuration;
        },
        isToggled(elem) {
            if (this.showDuration == elem) return true;

            return false;
        },
        pushVideo(e) {
            e.preventDefault();

            this.loading = true;

            if(this.errors.all().length > 0){
                this.loading = false;
                this.formIsNotValid = true;

                return false;
            }

            axios.post(route('content.push_to_devices'), this.postBody).then(response => {
                this.pushed = response.data.queued;
                this.success = true;
                this.loading = false;
            }).catch(e => {
                this.requestErrors = this.glFilterValidationErrors(e.response.data.errors);

                if (this.requestErrors.length < 1) {
                    this.requestErrors.push(e.message);
                }

                this.loading = false;
            });
            
        }
    },
    computed: {
        today() {
            return this.glToday();
        }
    }
}
</script>
