<template>
    <div class="thumbnail">
        <div v-if="imageLink" class="columns">
            <div class="column is-8">
                <img :src="imageLink">
            </div>
            <div class="column is-4">
                <a download="image.jpg" :href="imageLink" target="_blank" class="button is-dark is-rounded is-outlined is-fullwidth vpp-btn">
                    Download
                </a>
                <a class="button is-dark is-rounded is-outlined is-fullwidth vpp-btn" @click="remove()">
                    Remove
                </a>
            </div>
        </div>
        <div v-else class="p-4">
            <label>Thumbnail:</label>
            <button @click="openUploadClient()" type="button" class="button is-dark is-rounded is-outlined vpp-btn">
                Upload
            </button>
        </div>
        <input type="hidden" class="img-thumbnail" name="asset_path" v-model="imageLink">
    </div>
</template>

<style lang="scss">
    .thumbnail {
        button {
            margin-top: 12px;
            //@extend #{'.button', '.is-black', '.is-rounded', '.is-outlined', '.vpp-btn'};
        }
        label {
            display: inline-flex;
            font-weight: normal;
            border: solid 1px #efefef;
            height: 40px;
            margin-top: 12px;
            border-radius: 20px !important;
            line-height: 1.5em;
            width: calc(100% - 120px);
            align-items: center;
            //background-color: #ffffff !important;
        }
    }
</style>

<script>

export default {
    props:[
        'uploadLink'
    ],
    data() {
        return {
            imageLink: this.uploadLink
        };
    },
    methods: {
        openUploadClient: function() {
            let self = this;
            fsClient.pick({
                accept: 'image/*',
                fromSources:["local_file_system"],
                maxFiles:1,
                minFiles:1
            }).then(function(response) {
                self.imageLink = response.filesUploaded[0].url;
            });
        },
        remove: function() {
            this.imageLink = "";
        }
    },
    computed: {

    }
}
</script>

