<template>
    <div class="">
        <v-select 
            label="name" 
            placeholder="All Users"
            :filterable="false" 
            :options="userlist"
            v-model="selectedUser"
            @search="onSearch"
            >
            <template slot="no-options">
                type to search users...
            </template>
            <template slot="option" slot-scope="option">
                <div class="d-center">
                    <img :src='option.asset_path'/> 
                    {{ option.name }}
                </div>
            </template>
            <template slot="selected-option" slot-scope="option">
                <div class="selected d-center">
                    <img :src='option.asset_path'/> 
                    {{ option.name }}
                </div>
            </template>
        </v-select>
    </div>
</template>

<script>
import { VueSelect } from 'vue-select';

export default {
    components: {
        'v-select': VueSelect
    },
    props:[ 'selected', 'selectedId' ],
    data: function() {
        return {
            firstloading: true,
            userlist: [],
            selectedUser: this.selected,
        }
    },
    mounted: function() {

        let self = this;
        
        if (this.selected) {
            self.firstloading = false;
            return;
        }

        if (this.selectedId && this.selectedId > 0) {
            axios.get(route('users.info', {id:this.selectedId}))
            .then(response => {
                self.selectedUser = response.data;
            }).catch(err => {
                console.log('Got error:', err);
                self.firstloading = false;
            });
        } else {
            self.firstloading = false;
        }
    },
    methods: {
        onSearch(search, loading) {
            loading(true);
            this.search(loading, search, this);
        },
        search: function(loading, search, vm) {
            axios.post(route('users.search'), {
                'searchkey': search
            }).then(response => {
                vm.userlist = response.data;
                loading(false);
            }).catch(err => {
                console.log('Got error:', err);
            });
        },
    },

    watch: {
        'selectedUser': function(val) {
            if (this.firstloading) {
                this.firstloading = false;
                return;
            }

            console.log("Changed User :", val);
            this.$emit('change', val);
        }
    }
}
</script>
