<template>
    <div class="control" v-if="vErrors.length > 0">
        <div class="notification is-danger">
            <p v-for="(e, key) in vErrors" :key="key">
                {{ e }}
            </p>
        </div>
    </div>
</template>

<script>
export default {
  props: ['vErrors'],
  methods: {
  }
}
</script>

