<template>
    <div class="box vpp-attacher">
        <div class="columns">
            <div class="column is-half">
                <div class="control has-icons-left">
                    <input class="input" type="text" v-model="search" placeholder="Search Video">
                    <span class="icon is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <h3 class="panel-block">All Available ({{filteredList.length}})</h3>
                <a  v-for="item in filteredList"
                    :key="item.id"
                    class="panel-block"
                    @click="add(item.id)"
                    >
                    {{item.title}}
                    <div class="note">Add +</div>
                </a>
            </div>
            <div class="column is-half">

                <div v-if="this.sel_channels">
                    <h3 class="panel-block">Channel Videos ({{channelVideos.length}})</h3>
                    <a  v-for="item in channelVideos"
                        :key="item.id"
                        class="panel-block disabled"
                        >
                        {{item.title}}
                        <div class="note">Remove -</div>
                        <input type="hidden" name="videos[]" :value="item.id" />
                    </a>
                    <br />
                </div>
                
                <div>
                    <h3 class="panel-block">Added Videos ({{selectedList.length}})</h3>
                    <a  v-for="item in selectedList"
                        :key="item.id"
                        class="panel-block"
                        @click="remove(item.id)"
                        >
                        {{item.title}}
                        <div class="note">Remove -</div>
                        <input type="hidden" name="videos[]" :value="item.id" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted: function() {
            console.log('Video attacher mounted.')
        },
        methods: {
            add: function(id) {
                this.selects.push(id);
            },
            remove: function(id) {
                let idx = this.selects.indexOf(id);
                this.selects.splice(idx, 1);
            },
        },
        data() {
            return {
                search: '',
                all: app_data.all_videos,
                selects: app_data.sel_videos,
                sel_channels: app_data.sel_channels,
            }
        },
        computed: {
            filteredList: function() {
                return this.all.filter(item => {
                    if( this.selects.indexOf(item.id) < 0 &&
                        item.title.toLowerCase().includes(this.search.toLowerCase())
                    ) {
                        if (item.channels && this.sel_channels)
                            for (let ch_id of item.channels ) {
                                if (this.sel_channels.indexOf(ch_id) >= 0)
                                    return false;
                            }
                        return true;
                    }
                    return false;
                })
            },
            selectedList: function() {
                return this.all.filter(item => {
                    if (this.selects.indexOf(item.id) >= 0) {
                        if (item.channels && this.sel_channels)
                            for (let ch_id of item.channels ) {
                                if (this.sel_channels.indexOf(ch_id) >= 0)
                                    return false;
                            }
                        return true;
                    }
                    return false;
                });
            },
            channelVideos: function() {
                return this.all.filter(item => {
                    if (item.channels && this.sel_channels)
                        for (let ch_id of item.channels ) {
                            if (this.sel_channels.indexOf(ch_id) >= 0)
                                return true;
                        }
                    return false;
                });
            },
        }
    }
</script>
