<template>
    <div class="">
        <v-select 
            ref="vselect"
            label="name" 
            placeholder="All Videos"
            :filterable="false" 
            :options="videolist"
            v-model="selectedVideo"
            @search="onSearch"
            >
            <template slot="no-options">
                type to search video...
            </template>
            <template slot="option" slot-scope="option">
                <div class="d-center">
                    <img :src='option.asset_path'/> 
                    {{ option.title }}
                </div>
            </template>
            <template slot="selected-option" slot-scope="option">
                <div class="selected d-center">
                    <img :src='option.asset_path'/> 
                    {{ option.title }}
                </div>
            </template>
        </v-select>
    </div>
</template>

<script>
import { VueSelect } from 'vue-select';

export default {
    components: {
        'v-select': VueSelect
    },
    props:[ 'selected', 'selectedId', 'user', 'categories' ],
    data: function() {
        return {
            firstloading: true,
            videolist: [],
            selectedVideo: this.selected,
        }
    },
    mounted: function() {

        let self = this;
        
        if (this.selected) {
            self.firstloading = false;
            return;
        }

        if (this.selectedId && this.selectedId > 0) {
            axios.get(route('content.info', {id:this.selectedId}))
            .then(response => {
                self.selectedVideo = response.data;
            }).catch(err => {
                console.log('Got error:', err);
                self.firstloading = false;
            });
        } else {
            self.firstloading = false;
        }
    },
    methods: {
        onSearch(search, loading) {
            loading(true);
            this.search(loading, search, this);
        },
        search: function(loading, search, vm) {

            let data = {
                'searchkey': search
            };
            if(this.user && this.user.id) {
                data.user = this.user.id;
            }
            if(this.categories && this.categories.length > 0) {
                data.categories = [];
                for (let c of this.categories) {
                    data.categories.push(c.id);
                }
            }

            axios.post(route('content.search2'), data)
            .then(response => {
                vm.videolist = response.data;
                loading(false);
            }).catch(err => {
                console.log('Got error:', err);
            });
        },
        clear: function() {
            this.$refs.vselect.clearSelection();
            this.videolist = [];
            this.selectedVideo = null;
        } 
    },

    watch: {
        'selectedVideo': function(val) {
            if (this.firstloading) {
                this.firstloading = false;
                return;
            }

            console.log("Changed Video :", val);
            this.$emit('change', val);
        }
    }
}
</script>
