<template>
    <transition :name="animation">
        <div
            v-if="isActive"
            class="dialog modal is-active"
            :class="size">
            <div class="modal-background" @click="cancel('outside')"/>
            <div class="modal-card animation-content">
                <header class="modal-card-head" v-if="title">
                    <p class="modal-card-title has-text-centered is-danger">{{ title }}</p>
                    <a aria-label="close" @click="cancel('x')">
                        <i class="icon-close"></i>
                    </a>
                    <div class="title_line"><div></div></div>
                </header>
                <section
                    class="modal-card-body"
                    :class="{ 'is-titleless': !title }">
                    <div class="has-text-centered">
                        <p v-html="message"/>

                        <div v-if="hasInput" class="field">
                            <div class="control">
                                <input
                                    v-model="prompt"
                                    class="input"
                                    ref="input"
                                    required
                                    :class="{ 'is-danger': validationMessage }"
                                    v-bind="inputAttrs"
                                    @keyup.enter="confirm">
                            </div>
                            <p class="help is-danger">{{ validationMessage }}</p>
                        </div>
                    </div>
                </section>

                <footer class="modal-card-foot has-text-centered columns">
                        <div class="column has-text-right">
                            <button
                                class="button"
                                :class="type"
                                ref="confirmButton"
                                @click="confirm">
                                {{ confirmText }}
                            </button>
                        </div>
                        <div class="column has-text-left">
                            <button
                                v-if="showCancel"
                                class="button is-outlined is-danger is-rounded vpp-btn"
                                ref="cancelButton"
                                @click="cancel('button')">
                                {{ cancelText }}
                            </button>
                        </div>
                </footer>
            </div>
        </div>
    </transition>
</template>

<style lang="scss">
.modal-card-head a {
    margin-top: -30px;
    color: #1a1d29;
}
</style>

<script>
    import { Modal } from '../modal'
    import config from '../../utils/config'
    import { removeElement } from '../../utils/helpers'
    export default {
        name: 'BDialog',
        components: {
            
        },
        extends: Modal,
        props: {
            title: String,
            message: String,
            type: {
                type: String,
                default: 'vpp-btn is-danger is-rounded'
            },
            size: String,
            confirmText: {
                type: String,
                default: () => {
                    return config.defaultDialogConfirmText
                        ? config.defaultDialogConfirmText
                        : 'OK'
                }
            },
            cancelText: {
                type: String,
                default: () => {
                    return config.defaultDialogCancelText
                        ? config.defaultDialogCancelText
                        : 'Cancel'
                }
            },
            hasInput: Boolean, // Used internally to know if it's prompt
            inputAttrs: {
                type: Object,
                default: () => {}
            },
            onConfirm: {
                type: Function,
                default: () => {}
            }
        },
        data() {
            const prompt = this.hasInput
                ? this.inputAttrs.value || ''
                : ''
            return {
                prompt,
                isActive: false,
                validationMessage: ''
            }
        },
        computed: {
            
            showCancel() {
                return this.cancelOptions.indexOf('button') >= 0
            }
        },
        methods: {
            /**
             * If it's a prompt Dialog, validate the input.
             * Call the onConfirm prop (function) and close the Dialog.
             */
            confirm() {
                if (this.$refs.input !== undefined) {
                    if (!this.$refs.input.checkValidity()) {
                        this.validationMessage = this.$refs.input.validationMessage
                        this.$nextTick(() => this.$refs.input.select())
                        return
                    }
                }
                this.onConfirm(this.prompt)
                this.close()
            },
            /**
             * Close the Dialog.
             */
            close() {
                this.isActive = false
                this.onCancel.apply(null, arguments)
                // Timeout for the animation complete before destroying
                setTimeout(() => {
                    this.$destroy()
                    removeElement(this.$el)
                }, 150)
            }
        },
        beforeMount() {
            // Insert the Dialog component in body tag
            document.body.appendChild(this.$el)
        },
        mounted() {
            this.isActive = true
            this.$nextTick(() => {
                // Handle which element receives focus
                this.hasInput
                    ? this.$refs.input.focus()
                    : this.$refs.confirmButton.focus()
            })
        }
    }
</script>
