<template>
    <div>
        <filter-viewer :options="filterOptions" v-on:apply="ApplyFilter" ></filter-viewer>

        <template v-if="loaded">
            <div v-if="filterOptions.selectedSearchType === 'ad'">
                <div class="columns">
                    <div class="column is-4">
                        <template v-if="typeof chartsData.popularVideos !== 'undefined'">
                            <h2 class="subtitle">Content Overview</h2>
                            <popular-items-viewer :options="chartsData.popularVideos"></popular-items-viewer>
                        </template>
                    </div>
                    <div class="column is-8">
                        <template v-if="typeof chartsData.pushedAds !== 'undefined'">
                            <h2 class="subtitle">Pushed Ads</h2>
                            <bar-chart-view :options="chartsData.pushedAds" :timeUnit="chartsData.timeUnit">
                            </bar-chart-view>
                        </template>
                    </div>
                </div>

                <template v-if="typeof chartsData.consumerEngagement !== 'undefined'">
                    <h2 class="subtitle">Consumer Engagement</h2>
                    <viewer-engagement :charts="chartsData.consumerEngagement"
                                       :timeUnit="chartsData.timeUnit"
                                       :activeTab="'impressions'">
                    </viewer-engagement>
                </template>
            </div>

            <div v-else>
                <template v-if="typeof chartsData.popularAds !== 'undefined'">
                    <h2 class="subtitle">Poplular</h2>
                    <div class="columns">
                        <div class="column" v-for="(item, key) in chartsData.popularAds">
                            <popular-item :item="item" :position="key + 1"></popular-item>
                        </div>
                    </div>
                </template>

                <template v-if="typeof chartsData.consumerEngagement !== 'undefined'">
                    <h2 class="subtitle">Consumer Engagement</h2>
                    <viewer-engagement :charts="chartsData.consumerEngagement"
                                       :timeUnit="chartsData.timeUnit"
                                       :activeTab="'impressions'">
                    </viewer-engagement>
                </template>
            </div>
        </template>
        <div class="loading" v-else>Loading</div>
    </div>
</template>

<script>
import Moment from 'moment';
export default {
    name: 'AdDashboardSummary',
    data: function() {
        return {
            loaded: false,
            filterOptions: {
                day_from: Moment().subtract(1, 'months').toISOString(),
                day_to: Moment().toISOString(),
                selectedUser: null,
                selectedAd: null,
                selectedCategories: null,
                selectedAdType: 'all', // - all/banner/video
                selectedSearchType: 'ad' // - ad/cat
            },
            chartsData: null
        }
    },
    mounted: function() {
        this.loadChartsData({
            selectedAdType: this.filterOptions.selectedAdType,
            selectedSearchType: this.filterOptions.selectedSearchType,
            dateFrom: Moment(this.filterOptions.day_from).format('YYYY-MM-DD'),
            dateTo: Moment(this.filterOptions.day_to).format('YYYY-MM-DD'),
            tzOffset: new Date().getTimezoneOffset()
        });
    },
    methods: {
        loadChartsData: function (filterOptions) {
            this.loaded = false;
            axios.post(route('dashboard.charts-data.ads'), filterOptions).then(response => {
                this.chartsData = response.data;
                this.loaded = true;
            });
        },
        ApplyFilter: function(filterData) {
            this.filterOptions = filterData.data;
            let filterOptions = filterData.opts;
            filterOptions.tzOffset = new Date().getTimezoneOffset();
            this.loadChartsData(filterOptions);
        }
    },

}
</script>
