<template>
    <div class="chart-box" :class="isHorizontal ? 'horizontal' : ''">
        <bar-chart
            v-if="!isHorizontal"
            :chart-data="chartData"
            :chart-id="chartId"
            :options="chartOptionsVertical"
            :css-classes="'chart-container'">
        </bar-chart>
        <horizontal-bar-chart 
            v-if="isHorizontal"
            :chart-data="chartData"
            :chart-id="chartId"
            :options="chartOptionsHorizontal"
            :css-classes="'chart-container'">
        </horizontal-bar-chart>
        <div class="summary">
            <h2 class="subtitle">{{summary.title}}</h2>
            <h1>{{summary.total}}</h1>
            <p v-if="typeof summary.percentage !== 'undefined'">
                <span class="icon">
                    <i class="fa fa-caret-up"></i>
                </span>
                {{summary.percentage}}
            </p>
        </div>
    </div>
</template>

<style lang="scss">
    .chart-box {
        position: relative;
        .summary {
            background-color: rgba(255,255,255,0.8);
            padding: 1rem;
            display: inline-block;
            position: absolute;
            left: 1rem;
            top: 1rem;
            h2 {
                margin-bottom: 8px;
            }
            h1 {
                font-size: 24px;
                font-weight: bold;
                line-height: 1;
                letter-spacing: 2px;
                color: #1a1d29;
            }
            p {
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                letter-spacing: 2px;
                color: #d20f54;
            }
        }
    }
    .chart-box.horizontal {
        .summary {
            left: inherit;
            right: 1rem;
        }
    }
</style>

<script>
    import BarChart from '../charts/BarChart';
    import HorizontalBarChart from '../charts/HorizontalBarChart';
    export default {
        props: ['options', 'timeUnit'],
        components: {
            BarChart,
            HorizontalBarChart
        },
        data: function() {
            return {
                isHorizontal: (this.options && this.options.isHorizontal) ? true : false,
                chartOptionsVertical: {
                    legend: {
                        display: false
                    },
                    animation: {
                        duration: 0
                    },
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: this.timeUnit,
                                unitStepSize: 1,
                                displayFormats: {
                                    'hour': 'HH:mm',
                                    'day': 'MMM DD',
                                    'week': 'MMM DD',
                                    'month': 'MMM'
                                }
                            },
                            gridLines : {
                                display : false
                            },
                            barThickness: 12,
                            stacked: true,
                            offset: true
                        }],
                        yAxes: [{
                            display : false,
                            gridLines: {
                                display : false,
                                drawBorder: false
                            },
                            ticks: {
                                beginAtZero: true
                            },
                            stacked: true
                        }]
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    }
                },
                chartOptionsHorizontal: {
                    legend: {
                        display: false
                    },
                    animation: {
                        duration: 0
                    },
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            display : false,
                            gridLines : {
                                display : false
                            },
                            stacked: true
                        }],
                        yAxes: [{
                            gridLines: {
                                display : false,
                                drawBorder: false
                            },
                            barThickness: 12,
                            stacked: true
                        }]
                    }
                },
                chartId: this.options.chartId,
                chartData: this.options.data,
                summary: this.options.summary
            }
        }
    }
</script>