<template>
    <div>
        <div class="field" v-if="loaded && !successMsg">
            <div class="control">
                <button class="button is-link" @click="reindex">Reindex</button>
            </div>
        </div>
        <div v-if="!loaded && !successMsg">Reindexing. Please wait.</div>
        <div class="has-text-success has-text-weight-bold" v-if="successMsg">{{ successMsg }}</div>
        <div class="has-text-danger has-text-weight-bold" v-if="errorMsg">{{ errorMsg }}</div>
    </div>
</template>

<script>
export default {
    name: 'DashboardReindex',
    data: function() {
        return {
            loaded: true,
            successMsg: null,
            errorMsg: null
        }
    },
    methods: {
        reindex: function () {
            this.$dialog.confirm({
                title: 'Are you 300% sure?',
                message: 'You must be really aware of what you\'re doing here. Stay away if you have any doubts!',
                onConfirm: () => {
                    this.loaded = false;
                    this.successMsg = null;
                    this.errorMsg = null;

                    axios.post(route('dashboard.reindex')).then(response => {
                        this.loaded = true;
                        this.successMsg = 'Done!';
                    }).catch(error => {
                        this.errorMsg = error.message;
                        this.loaded = true;
                    });
                }
            });
        }
    }
}
</script>
