<template>
    <div>
        <filter-viewer :options="filterOptions" v-on:apply="ApplyFilter" ></filter-viewer>

        <template v-if="loaded">
            <div v-if="filterOptions.selectedContentType === 'channel'">
                <template v-if="typeof chartsData.channelPopularity !== 'undefined'">
                    <div class="columns">
                        <div class="column">
                            <popularity-item :options="chartsData.channelPopularity"></popularity-item>
                        </div>
                    </div>
                </template>

                <template v-if="typeof chartsData.popularChannels !== 'undefined'">
                    <h2 class="subtitle">Popular</h2>
                    <div class="columns">
                        <div class="column" v-for="(item, key) in chartsData.popularChannels.list">
                            <popular-item :item="item" :position="key + 1"></popular-item>
                        </div>
                    </div>
                </template>

                <template v-if="typeof chartsData.subscriptions !== 'undefined'">
                    <h2 class="subtitle">Subscriptions</h2>
                    <bar-chart-view :options="chartsData.subscriptions" :timeUnit="chartsData.timeUnit"></bar-chart-view>
                </template>

                <template v-if="typeof chartsData.pushedVideos !== 'undefined'">
                    <h2 class="subtitle">Pushed Videos</h2>
                    <bar-chart-view :options="chartsData.pushedVideos":timeUnit="chartsData.timeUnit"></bar-chart-view>
                </template>
            </div>
            <div v-else>
                <div v-if="filterOptions.selectedVideo">
                    <!-- Selected Video -->
                    <div class="columns">
                        <div class="column is-8">
                            <h2 class="subtitle">Content Overview</h2>
                            <div class="columns">
                                <div class="column">
                                    <template v-if="typeof chartsData.videoPopularity !== 'undefined'">
                                        <popularity-item :options="chartsData.videoPopularity"></popularity-item>
                                    </template>
                                </div>
                                <div class="column">
                                    <template v-if="typeof chartsData.uniqueViews !== 'undefined'">
                                        <popularity-item :options="chartsData.uniqueViews"></popularity-item>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <template v-if="typeof chartsData.avgPlayRate !== 'undefined'">
                                <h2 class="subtitle">Play Rate</h2>
                                <percent-chart-view :options="chartsData.avgPlayRate"></percent-chart-view>
                            </template>

                            <template v-if="typeof chartsData.avgViewRate !== 'undefined'">
                                <h2 class="subtitle">View Rate</h2>
                                <percent-chart-view :options="chartsData.avgViewRate"></percent-chart-view>
                            </template>
                        </div>
                    </div>

                    <template v-if="typeof chartsData.viewerEngagement !== 'undefined'">
                        <h2 class="subtitle">Viewer Engagement</h2>
                        <viewer-engagement :charts="chartsData.viewerEngagement"
                                           :timeUnit="chartsData.timeUnit"
                                           :activeTab="'views'">
                        </viewer-engagement>
                    </template>

                    <template v-if="typeof chartsData.viewTime !== 'undefined'">
                        <h2 class="subtitle">Watch Time</h2>
                        <graph-chart-view :options="chartsData.viewTime" :timeUnit="chartsData.timeUnit">
                        </graph-chart-view>
                    </template>
                </div>

                <div v-else>
                    <!-- All Videos or Selected Category(-ies) -->
                    <template v-if="typeof chartsData.popularVideos !== 'undefined'">
                        <h2 class="subtitle">Popular</h2>
                        <div class="columns">
                            <div class="column" v-for="(item, key) in chartsData.popularVideos.list">
                                <a @click="showVideoDetail(item)">
                                    <popular-item :item="item" :position="key + 1"></popular-item>
                                </a>
                            </div>
                        </div>
                    </template>

                    <template v-if="typeof chartsData.viewerEngagement !== 'undefined'">
                        <h2 class="subtitle">Viewer Engagement</h2>
                        <viewer-engagement :charts="chartsData.viewerEngagement"
                                           :timeUnit="chartsData.timeUnit"
                                           :activeTab="'views'">
                        </viewer-engagement>
                    </template>

                    <div class="columns">
                        <div class="column is-4">
                            <template v-if="typeof chartsData.avgPlayRate !== 'undefined'">
                                <h2 class="subtitle">Average Play Rate</h2>
                                <div class="percent-chart-wapper">
                                    <percent-chart-view :options="chartsData.avgPlayRate"></percent-chart-view>
                                </div>
                            </template>

                            <template v-if="typeof chartsData.avgViewRate !== 'undefined'">
                                <h2 class="subtitle">Average View Rate</h2>
                                <div class="percent-chart-wapper">
                                    <percent-chart-view :options="chartsData.avgViewRate"></percent-chart-view>
                                </div>
                            </template>
                        </div>
                        <div class="column is-8">
                            <template v-if="typeof chartsData.viewTime !== 'undefined'">
                                <h2 class="subtitle">Watch Time</h2>
                                <graph-chart-view :options="chartsData.viewTime" :timeUnit="chartsData.timeUnit">
                                </graph-chart-view>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="loading" v-else>Loading</div>
    </div>
</template>

<style lang="scss">
.percent-chart-wapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0, 4px, 20px, 0, rgba(185, 185, 185, 0.15);
    margin-bottom: 1rem;
    text-align: center;
    .chart-box {
        box-shadow: none;
        margin-bottom: 0;
    }
}
</style>

<script>
import Moment from 'moment';
export default {
    name: 'DashboardSummary',
    data: function() {
        return {
            loaded: false,
            filterOptions: {
                day_from: Moment().subtract(1, 'months').toISOString(),
                day_to: Moment().toISOString(),
                selectedUser : null,
                selectedChannel: null,
                selectedVideo: null,
                selectedCategories: null,
                selectedContentType: 'channel',
            },
            chartsData: null
        }
    },
    mounted: function() {
        this.loadChartsData({
            selectedContentType: this.filterOptions.selectedContentType,
            dateFrom: Moment(this.filterOptions.day_from).format('YYYY-MM-DD'),
            dateTo: Moment(this.filterOptions.day_to).format('YYYY-MM-DD'),
            tzOffset: new Date().getTimezoneOffset()
        });
    },
    methods: {
        loadChartsData: function (filterOptions) {
            this.loaded = false;
            axios.post(route('dashboard.charts-data.videos'), filterOptions).then(response => {
                this.chartsData = response.data;
                this.loaded = true;
            });
        },
        ApplyFilter: function(filterData) {
            this.filterOptions = filterData.data;
            let filterOptions = filterData.opts;
            filterOptions.tzOffset = new Date().getTimezoneOffset();
            this.loadChartsData(filterOptions);
        }
    }
}
</script>
