<template>

    <b-collapse class="card">
        <div slot="trigger" slot-scope="props" class="card-header">
            <p class="card-header-title">
                Filters
            </p>
            <a class="card-header-icon">
                {{props.open? 'HIDE' : 'SHOW'}}
            </a>
        </div>
        <div class="card-content">
            <div class="columns">
                <div class="column is-7">
                    <h2>DATE RANGE</h2>
                    <div class="columns">
                        <div class="column">
                            <button class="button is-dark is-rounded is-outlined is-small vpp-btn active"
                                    @click="selectDateRange('today')">TODAY</button>
                            <button class="button is-dark is-rounded is-outlined is-small vpp-btn"
                                    @click="selectDateRange('week')">WEEK</button>
                            <button class="button is-dark is-rounded is-outlined is-small vpp-btn"
                                    @click="selectDateRange('month')">MONTH</button>
                            <button class="button is-dark is-rounded is-outlined is-small vpp-btn"
                                    @click="selectDateRange('quarter')">QUARTER</button>
                            <button class="button is-dark is-rounded is-outlined is-small vpp-btn"
                                    @click="selectDateRange('year')">YEAR</button>
                        </div>
                    </div>
                    <br/>
                    <div class="columns">
                        <div class="column">
                            <h3>FROM</h3>
                            <datetime 
                                :format="{ year: 'numeric', month: 'long', day: 'numeric'}"
                                :class="{errorBorder: errors.has('dateFrom')}"
                                v-model="dateFrom"
                                v-validate="'required'"
                                name="dateFrom"
                                type="date"></datetime>
                        </div>
                        <div class="column">
                            <h3>TO</h3>
                            <datetime 
                                :format="{ year: 'numeric', month: 'long', day: 'numeric'}"
                                :class="{errorBorder: errors.has('dateTo')}" 
                                v-model="dateTo" 
                                v-validate="'required'"
                                name="dateTo" 
                                type="date"></datetime>
                        </div>
                    </div>
                    <br/><br/>
                    <div>
                        <button class="button is-danger is-rounded vpp-btn" @click="doApply()">
                            Apply Filters
                        </button>
                        <button class="button is-danger is-rounded vpp-btn is-outlined">
                            Reset
                        </button>
                    </div>
                </div>
                <div class="column is-5">
                    <div>
                        <h2>USER</h2>
                        <user-selector
                            ref="userSelector"
                            :selected="selectedUser"
                            v-on:change="changedUser">
                        </user-selector>
                    </div>
                    <br/>
                    <h2>CONTENT</h2>
                    <div v-if="hasContentType()">
                        <div class="control">
                            <label class="radio" @click="selectedContentType='channel'" >
                                <span class="fa" :class="selectedContentType=='channel'? 'fa-check-circle':'fa-circle-thin'"></span>
                                Channel
                            </label>
                            <label class="radio" @click="selectedContentType='video'" >
                                <span class="fa" :class="selectedContentType=='video'? 'fa-check-circle':'fa-circle-thin'"></span>
                                Video
                            </label>
                        </div>
                        <div v-if="hasChannelOption() && selectedContentType=='channel'">
                            <channel-selector
                                ref="channelSelector"
                                :selected="selectedChannel"
                                :user="selectedUser"
                                v-on:change="changedChannel">
                            </channel-selector>
                            <br/>
                        </div>
                        <div v-if="hasVideoOption() && selectedContentType=='video'">
                            <video-selector
                                ref="videoSelector"
                                :selected="selectedVideo"
                                :user="selectedUser"
                                :categories="selectedCategories"
                                v-on:change="changedVideo">
                            </video-selector>
                            <br/>
                        </div>
                        <div v-if="hasCategoriesOption() && selectedContentType=='video'">
                            <category-selector
                                ref="categorySelector"
                                :selected="selectedCategories"
                                :user="selectedUser"
                                v-on:change="changedCategories">
                            </category-selector>
                        </div>
                    </div>
                    <div v-else>
                        <div>
                            <button class="button is-dark is-rounded is-small vpp-btn"
                                    :class="selectedAdType == 'all' ? '' : 'is-outlined' "
                                    @click="selectedAdType = 'all'">All</button>
                            <button class="button is-dark is-rounded is-small vpp-btn"
                                    :class="selectedAdType == 'banner' ? '' : 'is-outlined' "
                                    @click="selectedAdType = 'banner'">Banner</button>
                            <button class="button is-dark is-rounded is-small vpp-btn"
                                    :class="selectedAdType == 'video' ? '' : 'is-outlined' "
                                    @click="selectedAdType = 'video'">Video</button>
                        </div>
                        <br/>
                        <div class="control">
                            <label class="radio" @click="selectedSearchType='ad'" >
                                <span class="fa" :class="selectedSearchType=='ad'? 'fa-check-circle':'fa-circle-thin'"></span>
                                Ad 
                            </label>
                            <label class="radio" @click="selectedSearchType='cat'" >
                                <span class="fa" :class="selectedSearchType=='cat'? 'fa-check-circle':'fa-circle-thin'"></span>
                                Categories 
                            </label>
                        </div>
                        
                        <ads-selector
                            ref="adsSelector"
                            :selected="selectedAd"
                            v-on:change="changedAd"
                            :user="selectedUser"
                            :categories="selectedCategories"
                            v-if="selectedSearchType=='ad'">
                        </ads-selector>
                        <category-selector
                            ref="categorySelector"
                            :selected="selectedCategories"
                            v-on:change="changedCategories"
                            :user="selectedUser"
                            v-if="selectedSearchType=='cat'">
                        </category-selector>
                    </div>
                </div>
            </div>
        </div>
        
    </b-collapse>

</template>

<style lang="scss">
    .card {
        background-color: rgba(26,29,41,0.08);
        border-radius: 4px;
        border: 0 none;
        margin-bottom: 2em;

        .card-header {
            background-color: rgba(26,29,41,0.08);
            //box-shadow: 0 4px 20px 0 rgba(185, 185, 185, 0.2);
        }
        .card-header-title {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 4px;
            color: #d70e54;
            text-transform: uppercase;
        }
        .card-header-icon {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            color: rgba(26,29,41,0.6);
        }
        .card-content > .columns > .column:nth-child(2) {
            border-left: 1px solid rgba(26,29,41,0.1);
        }
        h2 {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 2.4px;
            margin-bottom: 12px;
            color: rgba(26,29,41,0.8);
        }
        h3 {
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 2px;
            color: rgba(26,29,41,0.6);
        }
        label.radio {
            font-size: 16px;
            .fa {
                color: #d70e54;
            }
        }
    }

</style>

<script>
    import Collapse from '../common/collapse';
    import Moment from 'moment';

    export default {
        name: 'FilterViewer',
        props:[ 'options' ],
        components: {
            'b-collapse': Collapse
        },
        data: function() {
            return {
                dateFrom: this.options.day_from,
                dateTo: this.options.day_to,
                selectedUser: this.options.selectedUser,
                selectedChannel: this.options.selectedChannel,
                selectedVideo: this.options.selectedVideo,
                selectedCategories: this.options.selectedCategories,
                selectedAd: this.options.selectedAd,

                selectedContentType: this.options.selectedContentType,
                selectedAdType: this.options.selectedAdType,
                selectedSearchType: this.options.selectedSearchType,
            }
        },
        methods: {
            hasChannelOption: function() {
                return this.options.hasOwnProperty('selectedChannel');
            },
            hasVideoOption: function() {
                return this.options.hasOwnProperty('selectedVideo');
            },
            hasCategoriesOption: function() {
                return this.options.hasOwnProperty('selectedCategories');
            },
            hasContentType: function() {
                return this.options.hasOwnProperty('selectedContentType');
            },
            hasAdOption: function() {
                return this.options.hasOwnProperty('selectedAd');
            },
            selectDateRange: function(type) {
                let start_day = Moment();
                let end_day = Moment();
                let duration = Moment.duration(1, 'd');
                switch (type) {
                    case 'today':   duration = Moment.duration(1, 'd'); break;
                    case 'week':    duration = Moment.duration(1, 'w'); break;
                    case 'month':   duration = Moment.duration(1, 'M'); break;
                    case 'quarter': duration = Moment.duration(3, 'M'); break;
                    case 'year':    duration = Moment.duration(1, 'y'); break;
                }
                start_day.subtract(duration);
                this.dateFrom = start_day.format();
                this.dateTo = end_day.format();
            },
            changedUser: function(user) {
                this.selectedUser = user;

                if (this.$refs.channelSelector) {
                    this.$refs.channelSelector.clear();
                }

                if (this.$refs.videoSelector) {
                    this.$refs.videoSelector.clear();
                }
                if (this.$refs.categorySelector) {
                    this.$refs.categorySelector.clear();
                }
                if (this.$refs.adsSelector) {
                    this.$refs.adsSelector.clear();
                }

            },
            changedChannel: function(channel) {
                this.selectedChannel = channel;
            },
            changedVideo: function(video) {
                this.selectedVideo = video;
            },
            changedCategories: function(categoires) {
                this.selectedCategories = categoires;

                if (this.$refs.videoSelector) {
                    this.$refs.videoSelector.clear();
                }
                if (this.$refs.adsSelector) {
                    this.$refs.adsSelector.clear();
                }
            },
            changedAd: function(ad) {
                this.selectedAd = ad;
            },
            doApply: function() {

                let filter_data = {
                    dateFrom: this.dateFrom,
                    dateTo: this.dateTo,
                    selectedUser: this.selectedUser
                };
                let opt = {
                    dateFrom: Moment(this.dateFrom).format('YYYY-MM-DD'),
                    dateTo: Moment(this.dateTo).format('YYYY-MM-DD'),
                    selectedUser: this.selectedUser? this.selectedUser.id : 0
                };

                if(this.hasChannelOption()) {
                    filter_data.selectedChannel = this.selectedChannel;
                    opt.selectedChannel = this.selectedChannel? this.selectedChannel.id : 0;
                }
                if(this.hasVideoOption()) {
                    filter_data.selectedVideo = this.selectedVideo;
                    opt.selectedVideo = this.selectedVideo? this.selectedVideo.id : 0;
                }
                if(this.hasCategoriesOption()) {
                    filter_data.selectedCategories = this.selectedCategories;
                    if (this.selectedCategories) {
                        opt.selectedCategories = [];
                        for (let cat of this.selectedCategories) {
                            opt.selectedCategories.push(cat.id);
                        }
                    }
                }

                if (this.hasContentType()) {
                    filter_data.selectedContentType = this.selectedContentType;
                    opt.selectedContentType = this.selectedContentType;
                } else {
                    filter_data.selectedAdType = this.selectedAdType;
                    filter_data.selectedSearchType = this.selectedSearchType;
                    filter_data.selectedAd = this.selectedAd;

                    opt.selectedAdType = this.selectedAdType;
                    opt.selectedSearchType = this.selectedSearchType;
                    opt.selectedAd = this.selectedAd? this.selectedAd.id : 0;
                }
                
                this.$emit('apply', {
                    data: filter_data,
                    opts: opt
                });
            }
        },
    }
</script>