<template>
    <div class="chart-box linechart">
        <b-line-chart ref="linechart"></b-line-chart>
        <div class="summaryData">
            <div class="wrapper">
                <h2 class="subtitle">{{options.title}}</h2>
                <h1>{{options.total}} <small>hrs</small></h1>
                <p v-if="typeof options.delta !== 'undefined'">
                    <span class="icon">
                        <i class="fa" :class="options.delta > 0 ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </span>
                    {{options.delta}}%
                </p>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
</style>

<script>
    import { Line } from 'vue-chartjs'
    export default {
        props:['options', 'timeUnit'],
        components: {
            'b-line-chart': Line
        },
        mounted: function() {
            let ctx = this.$refs.linechart.$refs.canvas.getContext("2d");
            let gradientColor = ctx.createLinearGradient(0, 0, 0, 400);
            gradientColor.addColorStop(0.00, 'rgba(163,26,92,1)'); 
            gradientColor.addColorStop(0.16, 'rgba(212,15,84,1)');     
            gradientColor.addColorStop(1.00, 'rgba(212,15,84,0)');
            
            let opts = this.options.data;
            opts.datasets[0].backgroundColor = gradientColor;

            this.$refs.linechart.renderChart(opts, {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                //showLines: false,
                scales: {
                    xAxes: [{
                        //display : false,
                        type: 'time',
                        time: {
                            unit: this.timeUnit,
                            unitStepSize: 1,
                            displayFormats: {
                                'hour': 'HH:mm',
                                'day': 'MMM DD',
                                'week': 'MMM DD',
                                'month': 'MMM'
                            }
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        display: false,
                        gridLines: {
                            display: false
                        }   
                    }]
                }
            });
        }
    }
</script>