<template>
    <div v-if="loaded" class="chart-box doughnut" :class="this.options.theme === 'dark' ? 'dark' : '' ">
        <b-doughnut ref="doughnut"></b-doughnut>
        <div class="summaryData">
            <div class="wrapper">
                <h1>{{options.value * 100}}%</h1>
                <p v-if="typeof options.delta !== 'undefined'">
                    <span class="icon">
                        <i class="fa" :class="options.delta > 0 ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </span>
                    {{Math.abs(options.delta)}}%
                </p>
            </div>
        </div>
    </div>
    <div class="loading" v-else>Loading</div>
</template>

<style lang="scss">
    .chart-box.doughnut {
        display: inline-block;
        padding: 1rem;
        margin-bottom: 1rem;
        max-width: 160px;
        &.dark {
            max-width: 194px;
            background-color: #1a1d29;
            h1 {
                color: #fff;
            }
        }
        .summaryData {
            left:0;
            right:0;
            top: 0;
            bottom:0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            //pointer-events: none;
            .wrapper {
                display:inline-block;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
</style>

<script>
    import { Doughnut } from 'vue-chartjs'
    export default {
        props: ['options'],
        components: {
            'b-doughnut': Doughnut
        },
        mounted: function() {
            this.$refs.doughnut.renderChart(this.chart_option, {
                responsive: true, 
                maintainAspectRatio: true,
                cutoutPercentage: 85,
            });
        },
        data: function() {
            let self = this;
            return {
                loaded: true,
                chart_option: {
                    datasets: [{
                        borderWidth: 0,
                        backgroundColor: [
                            '#d20f54',
                            self.options.theme === 'dark' ? '#1a1d29': '#ffffff',
                        ],
                        data: [self.options.value * 100, 100 - self.options.value * 100],
                    }]
                },
                
            }
        }
    }
</script>