<template>
    <div class="popularity-item">
        <div class="header">
            <div class="level">
                <div class="level-start">
                    <span class="icon"><i class="icon icon-popular"></i></span>
                </div>
                <h2 class="level-item">{{options.title}}</h2>
            </div>
            <h1 v-if="typeof options.position !== 'undefined'">#{{options.position}}</h1>
            <h1 v-if="typeof options.total !== 'undefined'">{{options.total}}</h1>
            <p v-if="typeof options.prevPosition !== 'undefined'">
                <span class="icon">
                    <i class="fa" :class="options.prevPosition > options.position ? 'fa-caret-up' : 'fa-caret-down'"></i>
                </span>
                #{{options.prevPosition}}
                <!--<span class="note">30d</span>-->
            </p>
        </div>
        <div class="content linechart">
            <b-line-chart ref="linechart"></b-line-chart>
        </div>
    </div>
</template>

<style lang="scss">
    .popularity-item {
        border-radius: 4px;
        background-color: #1a1d29;
        box-shadow: 0 4px 20px 0 rgba(185, 185, 185, 0.2);
        color: rgba(255,255,255,0.6);
        .level {
            margin-bottom: 0;
            .level-start {
                color: #d70e54;
            }
        }
        .header {
            padding: 1rem;
            h1 {
                font-size: 32px;
                color:#fff;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            h2 {
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 4px;
            }
            .note {
                color: rgba(255,255,255,0.5);
                margin-left: 1rem;
            }
            .level-end .icon {
                color: rgba(255,255,255,0.5);
                font-weight: normal;
            }
            p { 
                color: #d70e54;
                font-size: 12px;
            }
        }
        .content.linechart {
            canvas {
                width:100%;
                
            }
        }

        &:not(.horizontal) {
            max-width: 300px;
            .content.linechart {
                canvas {
                    max-width: 300px;
                    height: 320px;
                }
            }
        }
        &.horizontal {
            position: relative;
            .header {
                position: absolute;
                left: 0;
                top: 0;
                width: 180px;
                p {
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                }
            }
            .content.linechart {
                canvas {
                    padding-left: 180px;
                    width: calc(100% - 180px);
                    height: 120px;
                }
            }
        }
    }

</style>

<script>
    import { Line } from 'vue-chartjs'
    export default {
        components: {
            'b-line-chart': Line
        },
        props: ['options'],
        data: function() {
            return {
                loaded: true,
            }
        },
        mounted: function() {
            let ctx = this.$refs.linechart.$refs.canvas.getContext("2d");
            let gradientColor = ctx.createLinearGradient(0, 0, 200, 0);
            gradientColor.addColorStop(0.00, '#a3195b'); 
            gradientColor.addColorStop(1.00, '#d20f54');

            let chartData = this.options.data;
            chartData.datasets[0].backgroundColor = gradientColor;
            
            this.$refs.linechart.renderChart(chartData, {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                //showLines: false,
                scales: {
                    xAxes: [{
                        display : false,
                        gridLines: {
                            display:false
                        }
                    }],
                    yAxes: [{
                        display : false,
                        gridLines: {
                            display:false
                        }   
                    }]
                }
            });
        },
    }
</script>