<template>
    <div class="popular-item">
        <div v-if="item.asset_path" class="imagearea" :style="{backgroundImage: 'url(' + item.asset_path + ')'}"></div>
        <div v-else class="imagearea"></div>
        <div class="content">
            <div class="item_title level">
                <div class="level-start">
                    #{{position}}
                    <small v-if="typeof item.prevPosition !== 'undefined'">
                        <span class="icon">
                            <i class="fa" :class="item.prevPosition > position ? 'fa-caret-up' : 'fa-caret-down'"></i>
                        </span>
                        #{{item.prevPosition}}
                        <!--<span class="note">30d</span>-->
                    </small>
                </div>
                <div v-if="typeof item.subs !== 'undefined'" class="subscribe level-end">
                    <i class="fa fa-user"></i>
                    {{item.subs}}
                </div>
            </div>
            <div>
                <h4>{{item.title}}</h4>
                <p>{{item.username}}</p>
            </div>
            <div class="popular-foot level">
                <div v-if="typeof item.views !== 'undefined'" class="level-item">
                    <span class="icon">
                        <i class="fa fa-eye"></i>
                    </span>
                    {{item.views}}
                </div>
                <div v-if="typeof item.likes !== 'undefined'" class="level-item">
                    <span class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </span>
                    {{item.likes}}
                </div>
                <div v-if="typeof item.clicks !== 'undefined'" class="level-item">
                    <span class="icon">
                        <i class="fa fa-mouse-pointer"></i>
                    </span>
                    {{item.clicks}}
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .popular-item {
        //max-width: 300px;
        border-radius: 4px;
        background-color: #1a1d29;
        box-shadow: 0 4px 20px 0 rgba(185, 185, 185, 0.2);
        color: rgba(255,255,255,0.6);
        .imagearea {
            height: 116px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity : 0.5;
        }
        .content {
            border-top: 8px solid #d70e54;
            padding: 1rem;
            .item_title {
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 1.2px;
                color: #fff;
                padding-bottom: 0.5rem;
                small {
                    font-size: 12px;
                    color: #d20f54;
                }
                .note {
                    color: rgba(255,255,255,0.3);
                    padding-left: 4px;
                }
                .subscribe {
                    font-size: 16px;
                    color: rgba(255,255,255,0.3);
                }
            }
            h4 {
                font-size: 14px;
                color: #fff;
            }
            p {
                color: rgba(255,255,255,0.6);
                font-size: 12px;
                letter-spacing: 4px;
            }
            hr {
                background-color: rgba(255,255,255,0.1);
            }
            .popular-foot {
                font-size: 12px;
                color: #fff;
                padding: 10px 30px 0 30px;
                border-top: 1px solid rgba(255,255,255,0.1);
                margin-top: 1rem;
                .icon {
                    color: rgba(255,255,255,0.4);
                    font-size: 16px;
                }
            }
        }
        
    }
</style>

<script>
    export default {
        name: 'PopularItemsViewer',
        props: ['item', 'position'],
        data: function() {
            return {}
        },
    }
</script>