<template>
    <div class="popular-item">
        <div class="header">
            <div class="level">
                <div class="level-start">
                    <span class="icon"><i class="icon" :class="itemData.icon"></i></span>
                </div>
                <h2 class="level-item is-uppercase">{{itemData.title}}</h2>
            </div>
            <h1>{{itemData.total}}</h1>
        </div>
        <div class="content">
            <h2 class="is-uppercase">
                <span class="icon"><i class="icon icon-popular"></i></span>
                Popular
            </h2>
            <ul>
                <li class="level" v-for="(item, key) in itemData.list" :key="key" @click="ItemClick(item)">
                    <span class="level-left">
                        <img class="level-item" v-if="item.asset_path" :src="item.asset_path" />
                        <div class="level-item info">
                            <div>
                                <h4>
                                    <span class="num">#{{key + 1}}</span>
                                    <small v-if="typeof item.prevPosition !== 'undefined'">
                                        <span class="icon">
                                            <i class="fa" :class="item.prevPosition > (key + 1) ? 'fa-caret-up' : 'fa-caret-down'"></i>
                                        </span>
                                        #{{item.prevPosition}}
                                        <!--<span class="note">30d</span>-->
                                    </small>
                                </h4>
                                <h2>
                                    {{item.title}}
                                </h2>
                                <p>{{item.username}}</p>
                            </div>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</template>

<style lang="scss">
    .popular-item {
        border-radius: 4px;
        background-color: #1a1d29;
        box-shadow: 0 4px 20px 0 rgba(185, 185, 185, 0.2);
        color: rgba(255,255,255,0.6);
        //max-width: 300px;
        .level {
            margin-bottom: 0;
        }
        .header {
            border-bottom: 4px solid #d70e54;
            padding: 1rem;
            h1 {
                font-size: 32px;
                color:#fff;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            h2 {
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 4px;
            }
            .icon {
                color: #d70e54;
                font-size: 1.5rem;
            }
            .level-end .icon {
                color: rgba(255,255,255,0.5);
                font-weight: normal;
            }
        }
        .content {
            padding: 1rem;
            > h2 {
                font-size: 12px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 4px;
                color: rgba(255,255,255,0.6);
                padding-bottom: 0.5rem;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    position: relative;
                    padding: 0.5rem 0;
                    cursor: pointer;
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(255,255,255,0.1);
                    }
                    img {
                        width: 64px;
                        object-fit: cover;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        opacity: 0.5;
                    }
                    .info {
                        padding-left: 10px;
                        h4 {
                            color: #d20f54;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.5;
                            letter-spacing: 1px;
                            margin: 0;
                            padding: 0;
                        }
                        h2 {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 2;
                            letter-spacing: 1px;
                            color: #ffffff;
                            margin: 0;
                            padding: 0;
                        }
                        p {
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 1.5;
                            letter-spacing: 1px;
                            color: rgba(255,255,255,0.5);
                        }
                        .num {
                            color: #fff;
                        }
                        .note {
                            color: rgba(255,255,255,0.3);
                            font-size: 12px;
                            font-weight: 500;
                            margin-left: 1rem;
                        }
                    }
                    
                }
            }
        }
        
    }
</style>

<script>
    export default {
        name: 'PopularItemsViewer',
        props: ['options'],
        data: function() {
            return {
                itemData: this.options
            }
        },
        methods: {
            ItemClick: function (item) {
                this.$emit('itemclick', item);
            }
        }
    }
</script>