<template>
    <!--<div class="chart-box" :class="charts.isHorizontal ? 'horizontal' : ''">-->
    <div class="chart-box">
        <ul class="tab_bar">
            <li v-for="(chart, key) in charts" :class="active_tab === key ? 'is-active' : ''" @click="tabclick(key)">
                <h2 class="is-uppercase">{{chart.title}}</h2>
                <h1 v-if="typeof chart.total !== 'undefined'">{{chart.total}}</h1>
                <h1 v-if="typeof chart.totalRatio !== 'undefined' && chart.totalRatio">{{chart.totalRatio * 100}}%</h1>
                <!--<p v-if="typeof chart.delta !== 'undefined'">-->
                    <!--<span class="icon">-->
                        <!--<i class="fa fa-caret-up"></i>-->
                    <!--</span>-->
                    <!--{{chart.delta}}%-->
                    <!--<span class="note">{{30}}d</span>-->
                <!--</p>-->
            </li>
        </ul>
        <div class="content-wrapper">
            <div v-for="(chart, key) in charts" v-show="active_tab === key">
                <horizontal-bar-chart
                    v-if="chart.isHorizontal"
                    :options="horizontalChartOpts(chart.displayLegend)"
                    :chart-data="chart.data"
                    :chart-id="'viewer-engagement-' + key"
                    :css-classes="'chart-container'"
                ></horizontal-bar-chart>
                <bar-chart
                    v-else
                    :options="verticalChartOpts(chart.displayLegend)"
                    :chart-data="chart.data"
                    :chart-id="'viewer-engagement-' + key"
                    :css-classes="'chart-container'"
                ></bar-chart>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .chart-box {
        ul.tab_bar {
            display: inline-block;
            width: 200px;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            box-shadow: 4px 0 10px 0 rgba(208, 16, 85, 0.08);
            li {
                margin: 0;
                padding: 1rem;
                height: 112px;
                border-bottom: 1px solid rgba(26,29,41,0.1);
                cursor: pointer;
                position: relative;
                h2 {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 2px;
                }
                h1 {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1.2em;
                    letter-spacing: 2px;
                }
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: #d30f54;
                    .note {
                        color: rgba(26,29,41,0.3);
                    }
                }
                &.is-active {
                    background-color: #1a1d29;
                    color: #fff;
                    &:after {
                        content: '';
                        display: block;  
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -10px;
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid #1a1d29;
                    }
                    h1 {
                        color: #fff;
                    }
                    p {
                        //color: rgba(255,255,255,0.3);
                        .note {
                            color: rgba(255,255,255,0.3);
                        }
                    }
                }
                
            }
        }
        .content-wrapper {
            padding-left: 220px;
        }
    }
    .chart-box.horizontal {
        ul.tab_bar {
            display: flex;
            width: 100%;
            position: relative;
            justify-content: space-between;
            box-shadow: 0 4px 10px 0 rgba(208, 16, 85, 0.08);
            li {
                flex: 1;
                border-right: 1px solid rgba(26,29,41,0.1);
                &.is-active:after {
                    content: '';
                    display: block;  
                    position: absolute;
                    left: calc(50% - 10px);
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-top: 10px solid #1a1d29;
                    border-right: 10px solid transparent;
                    border-bottom: 0 solid transparent;
                    border-left: 10px solid transparent;
                    margin-top: 0;
                }
            }
        }
        .content-wrapper {
            padding-left: 20px;
        }
    }

</style>

<script>
    import BarChart from '../charts/BarChart';
    import HorizontalBarChart from '../charts/HorizontalBarChart';

    export default {
        props: ['charts', 'timeUnit', 'activeTab'],
        components: {
            BarChart,
            HorizontalBarChart
        },
        data() {
            return {
                active_tab: this.activeTab
            };
        },
        methods: {
            verticalChartOpts: function (displayLegend) {
                return {
                    legend: {
                        display: displayLegend
                    },
                    animation: {
                        duration: 0
                    },
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: this.timeUnit,
                                unitStepSize: 1,
                                displayFormats: {
                                    'hour': 'HH:mm',
                                    'day': 'MMM DD',
                                    'week': 'MMM DD',
                                    'month': 'MMM'
                                }
                            },
                            gridLines : {
                                display : false
                            },
                            barThickness: 12,
                            stacked: true,
                            offset: true
                        }],
                        yAxes: [{
                            display : false,
                            gridLines: {
                                display : false,
                                drawBorder: false
                            },
                            ticks: {
                                beginAtZero: true
                            },
                            stacked: true
                        }]
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    }
                };
            },
            horizontalChartOpts: function (displayLegend) {
                return {
                    legend: {
                        display: displayLegend
                    },
                    animation: {
                        duration: 0
                    },
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            display : false,
                            gridLines : {
                                display : false
                            },
                            stacked: true
                        }],
                        yAxes: [{
                            gridLines: {
                                display : false,
                                drawBorder: false
                            },
                            barThickness: 12,
                            stacked: true
                        }]
                    }
                };
            },
            tabclick: function(tabkey) {
                this.active_tab = tabkey;
            }
        }
    }
</script>
