.vpp-btn {
    background-color: $pink;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 3px;
    margin-right: 3px;
    &:active, &:focus {
        border-color: transparent !important;
        outline: 0 none !important;
        outline-style: none !important;
        box-shadow: none !important;
    }
    &:hover {
        background-color: rgba(26,29,41,0.5) !important;
    }
    &.is-danger.is-outlined:hover {
        border-color: rgba(255,14,84,0.5) !important;
    }
}

.select.is-rounded {
    margin-left: 8px;
    margin-right: 8px;
    &::after {
        content: "";
        border-color: rgba(60,60,60,.5) !important;
        border-width: 3px !important;
        width: 10px !important;
        height: 10px !important;
    }
}
select.vpp-select {
    width: 216px;
    height:40px;
    max-width: 160px !important;
    border-radius: 20px !important;
    background-color: $white;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 2.3px;
    text-align: left;
    color: rgba(26, 29, 41, 0.6) !important;
    padding-left: 12px;
    //border-color: #ededed;
    border: 0 none !important;

    &::-ms-expand {
        display: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
}

.vpp-select-inline {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}


.vpp-select-btn {
    width: 72px;
    height: 40px;
    opacity: 0.17;
    border-radius: 20px;
    background-color: #595959;
    color: $white;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-width: 0;
}

.vpp-select-active {
    background-color: $dark;
    opacity: 1;
}


.vpp-action {
    font-size: 24px;
    color: $pink;
    margin-left: 14px;
    margin-right: 14px;
}

.vpp-action:hover {
    color: $dark;
}

.cant-push {
    pointer-events: none;
    cursor: default;
    color: $grey;
}

.vpp-toggle-btn {
    color: $dark;
    border-radius: 20px;
    background-color: $white;
    border: 1px solid $white;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 5px;
    text-transform: capitalize;
    padding: 4px;
    text-align: center;
    width: 77px;    
}

.vpp-toggle-btn:hover {
    background-color: $white;
    color: $dark;
    border: 1px solid $white;
}

.toggled {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: $dark !important;
    color: $white  !important;
    border: solid 1px $dark !important;
}

.btn-tool-group {
    button {
        margin-left: 8px;
        margin-right: 8px;
    }
}

