.chart-box {
    @include border-radius(4px);
    background-color: $white;
    @include box-shadow(0, 4px, 20px, 0, rgba(185, 185, 185, 0.15));
    margin-bottom: 1rem;
    position: relative;
/*
    .tabs {
        box-shadow: 0 4px 10px 0 rgba(208, 16, 85, 0.08);
        overflow: visible;
        ul {
            margin-left: 0;
        }
        .tab-item {
            &.is-active {
                position: relative;
                background-color: #1a1d29;
                a {
                    color: #fff;
                    border-bottom: 0 none;
                }
                &:after {
                    content: '';
                    display: block;  
                    position: absolute;
                    left: calc(50% - 10px);
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-top: 10px solid #1a1d29;
                    border-right: 10px solid transparent;
                    border-bottom: 0 solid transparent;
                    border-left: 10px solid transparent;
                }
            }
            
        }
    }
    */
}
.chart-container {
    min-height: 400px;
}
