.errorText {
    color: red;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 6px;
}

.errorBorder {
    border-color: red !important;
}


.box {
    margin-bottom: 40px !important;
    border: 0 none !important;
    box-shadow: 0 4px 20px 0 rgba(185, 185, 185, 0.15) !important;
}

.control {
    //max-width: 400px;
    margin-bottom: 32px;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="search"] {
        height: 40px;
        margin-top: 12px;
        border-radius: 20px !important;
        background-color: $white !important;
        border: solid 1px $light-grey;
        box-shadow: none;
    }
    .button {
        margin-top: 12px;
    }
    .select select {
        padding-left: 1em;
        @include border-radius(2em);
    }
    &.has-icons-left, 
    &.has-icons-right {
        .icon {
            font-size: 20px;
            color: #1a1d29 !important;
            top: 8px !important;
            opacity: 0.5;
        }
    }
}

.top-mrg {
    margin-top: 12px;
}

.vdatetime-input {
    cursor: pointer;
    font-size: 14px !important;
    color:#363636 !important;
    width: 100% !important;
    margin-top: 12px;
    border-radius: 20px !important;
    background-color: $white !important;
    border: solid 1px $light-grey !important;
    height: 40px !important;
    padding-left: 27px !important;
}

.vdatetime-popup__header {
    background-color: $pink !important;
}

.vdatetime-calendar__month__day--selected > span > span {
    background-color: $pink !important;
}

.vdatetime-popup__actions__button {
    color: $pink !important;
}

.vdatetime-time-picker__item--selected {
    color: $pink !important;
}

.vdatetime-year-picker__item--selected {
    color: $pink !important;
}


.vpp-input::-webkit-input-placeholder { /* Chrome */
    color: $light-grey;
    font-size: 14px;
    font-weight: 500;
}
.vpp-inp::-webkit-input-placeholder { /* Chrome */
    color: $light-grey;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.3px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: $light-grey;
    font-size: 14px;
    font-weight: 500;
        
}
input::-moz-placeholder { /* Firefox 19+ */
  color: $light-grey;
    font-size: 14px;
    font-weight: 500;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
  color: $light-grey;
    font-size: 14px;
    font-weight: 500;
}
.field {
    &.required .label:after {
        content: ' *';
    }
    &.price {
        .currency {
            position: absolute;
            left: 1px;
            top: 2px;
            z-index: 10;
    
            select {
                padding-left: 1.5em;
                border: none;
            }
        }
        .input {
            padding-left: 4.75em;
        }
    }
    label {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 1px;
        color: $dark;
        padding-left: 20px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.vpp-inp {
    max-width: 160px !important;
}

.v-select {
    //width: 100%;
    min-width: 240px;
    height:40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 2.3px;
    color: rgba(26, 29, 41, 0.6);
    background-color: #ffffff;
    border: 0 none;
    padding: 0 1rem;
    input[type=search] {
        font-family: "Quicksand";
        font-size: 14px !important;
        letter-spacing: 2.3px !important;
        line-height: 40px !important;
        height: inherit !important;
        color: rgba(26, 29, 41, 0.6);
    }
    img {
        height: auto;
        max-width: 2.5rem;
        margin-right: 1rem;
    }
    .d-center {
        display: flex;
        align-items: center;
    }
    .selected img {
        width: auto;
        max-height: 23px;
        margin-right: 0.5rem;
    }
    .dropdown {
        li {
            border-bottom: 1px solid rgba(112, 128, 144, 0.1);
        }
        li:last-child {
            border-bottom: none;
        }
        li a {
            padding: 10px 20px;
            width: 100%;
            font-size: 1.25em;
            color: #3c3c3c;
        }
    }
    .dropdown-menu {
        border: none !important;
        border-top: 1px solid rgba(0,0,0,.06)  !important;
        &.active > a {
            color: #fff;
        }
        li.no-options {
            padding: 0.2rem 1rem;
        }
    }
    .dropdown-toggle {
        width: 100%;
        border: 0 none !important;
    }
    .selected-tag {
        position: relative;
        padding-right: 20px !important;
        .close {
            position: absolute;
            right: 2px;
            top: 0px;

        }
    }
    
    // .open-indicator:before {
    // }
}