@charset "UTF-8";


@font-face {
  font-family: "VPP_Icons";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "VPP_Icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "VPP_Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\61";
}
.icon-channels:before {
  content: "\63";
}
.icon-clickouts:before {
  content: "\64";
}
.icon-increasedecrease:before {
  content: "\65";
}
.icon-likes:before {
  content: "\66";
}
.icon-menu:before {
  content: "\67";
}
.icon-popular:before {
  content: "\68";
}
.icon-series:before {
  content: "\69";
}
.icon-videos:before {
  content: "\6b";
}
.icon-watches:before {
  content: "\6c";
}
.icon-wishlisted:before {
  content: "\6d";
}
.icon-advertising:before {
  content: "\6e";
}
.icon-apps:before {
  content: "\6f";
}
.icon-key:before {
  content: "\70";
}
.icon-like:before {
  content: "\71";
}
.icon-thumb-up:before {
  content: "\72";
}
.icon-tick:before {
  content: "\73";
}
.icon-banner:before {
  content: "\74";
}
.icon-users:before {
  content: "\75";
}
.icon-notifications:before {
  content: "\76";
}
.icon-close:before {
  content: "\77";
}
.icon-content:before {
  content: "\78";
}
.icon-dashboard:before {
  content: "\79";
}
.icon-pull:before {
  content: "\7a";
}
.icon-push:before {
  content: "\41";
}
.icon-search:before {
  content: "\42";
}
.icon-nav-arrow:before {
  content: "\43";
}
.icon-delete:before {
  content: "\44";
}
.icon-edit:before {
  content: "\45";
}
.icon-star:before {
  content: "\46";
}
.icon-test-devices:before {
  content: "\47";
}
.icon-megaphone:before {
  content: "\6e";
}