.modal {
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $dark;
    transition: opacity .3s ease;
}

.vpp-push-modal {
    max-width: 477px !important;
}

.vpp-modal-body {
    background-color: $white !important;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    border: none;
}

.modal-top {
    width: 100%;

    .centered {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 1px;
        text-align: left;
        color: $pink;
    }

    .vpp-modal-close {
        color: $dark;
    }

    .vpp-modal-close:hover {
        color: $dark;
    }
}

.modal-card-head {
    background-color: $white !important;
    border-bottom: none !important;
}

.modal-card-foot {
    background-color: $white !important;
    border-top: none !important;
}

.vpp-modal-foot {
    width: 100%;
    display: flex;
    justify-content: center;

    .cancel-btn {
        height: 40px;
        border-radius: 20px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
        border: solid 2px $pink;
        background-color: $white;
        padding-left: 52px !important;
        padding-right: 52px !important;
        padding-top: 8px !important;
        padding-bottom: 10px !important;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 2px;
        color:$pink;
    }

    .cancel-btn:hover {
        color: $white;
        background-color: $pink;
        border: solid 2px $pink;
    }

    .submit-btn {
        height: 40px;
        border-radius: 20px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
        // border: solid 2px $pink;
        // background-color: $white;
        padding-left: 52px !important;
        padding-right: 52px !important;
        padding-top: 8px !important;
        padding-bottom: 10px !important;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 2px;
        color: $white;
        background-color: $pink;
        border: solid 2px $pink;

    }

    .submit-btn:hover {
        
        border: solid 2px $pink;
        background-color: $white;
        color:$pink;
    }
}




