$navbar-dropdown-arrow: none;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: none;
$navbar-dropdown-radius: 0;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $pink;

.vpp-nav {
    background-image: url('/images/navbar-back.png');
    height: 64px;
    width: 100%;
    color: $white;

    .vpp-brand {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(50, 50, 50, 0.5);
        a {
            height: 40px;
            img {
                height: 40px;
            }
        }

        
    }

    .vpp-search {
        width: 260px;
        height: 36px;
        border-radius: 18px;
        background-color: rgba(242, 241, 241, 0.2);
        border: none;
        margin-left: 40px;
        margin-top: 14px;
        color: $white;
        font-size: 14px;
        font-family: 'Quicksand';
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2px;
        background-image: url('/images/search.png');
        background-position: 20.5px 7px;
        background-repeat: no-repeat;
        padding-left: 53px;
    }

    a {
        color: $white;
    }

    a:hover {
        color: $white;
    }

    .vpp-dropdown-box {
        &:hover, &.is-active {
            background: rgba(50, 50, 50, 0.5);
        }
        .vpp-dropdown {
            color: $white;
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 2px;
            padding: 22px 24px;
            i {
                margin-left: 16px;
            }
        }
        .navbar-dropdown {
            background-color: $dark;
            border: 0px;
            left: inherit;
            right: 0;
            padding-top: 0;
            padding-bottom: 0;
            .navbar-item {
                font-size: 12px;
                letter-spacing: 1px;
                padding: 16px 24px;
                border-bottom: 1px solid rgba(255,255,255,0.1);
                &:last-child {
                    border-bottom: 0 none;
                }
            }
        }
            
    }
}

.vpp-search::-webkit-input-placeholder { /* Chrome */
  color: $white;
        font-size: 14px;
        font-family: 'Quicksand';
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2px;
        
}
.vpp-search:-ms-input-placeholder { /* IE 10+ */
  color: $white;
        font-size: 14px;
        font-family: 'Quicksand';
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2px;
        
}
.vpp-search::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: $white;
        font-size: 14px;
        font-family: 'Quicksand';
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2px;
        
}
.vpp-search:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 1;
  color: $white;
        font-size: 14px;
        font-family: 'Quicksand';
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2px;
        
}


