.vpp-notif-box.navbar-link {
    position: initial;
    //position: relative;
    //width: 20px;
    //height: 30px;
    //max-height: 30px;
    font-size: 20px;
    border-right: 1px solid $white;
    padding: 8px 24px 0px 24px;
    //margin-top: 18px;
    //padding-right: 40px;
    //padding-top: 10px;
    color: white;
    &:hover, &.is-active {
        background: rgba(50, 50, 50, 0.5);
    }
    .listing {
        position: absolute;
        top: 100%;
        right: 0;
        width: 334px;
        max-height: 85vh;
        background-color: $dark;
        z-index: 10;

        .subtitle {
            color: $white;
            margin: 0;
            padding: 16px 16px 0;
        }
        .items {
            padding: 0 16px 16px;
        }
        .group {
            margin-top: 20px;
        }
        .when {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: $pink;
            letter-spacing: 2px;
        }
        .item {
            margin-top: 16px;
            padding: 16px;
            background-color: $col-474a53;
        }
        .level {
            margin: 0;
        }
        .username {
            font-size: 14px;
            font-weight: 500;
        }
        .time {
            font-size: 12px;
            color: $grey;
        }
        .action {
            margin-top: 8px;
            font-size: 14px;
        }
        .entity {
            margin-top: 8px;
            padding: 3px 6px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            @include border-radius(4px);
            background-color: $col-8f2c53;
        }
    }
    .simplebar-scrollbar {
        background-color: $white;
    }
}
