$pagination-color: $dark;
$pagination-border-color: $light-grey;
$pagination-current-background-color: $dark;
$pagination-current-border-color: $dark;
$pagination-ellipsis-color: $light-grey;
$pagination-current-color: $white;
$pagination-active-border-color: $light-grey;
$pagination-focus-color: $light-grey;
$pagination-focus-border-color: $light-grey;

.paginate-contain {
    width: 65%; margin: 0 auto;
}

.pagination-link {
    font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}

.pagination-previous {
    font-weight: 700;
    font-size: 12px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 3.4px;
    background-color: $light-grey;
    i {
        margin-right: 8px;
    }
    &:hover {
        border-color: transparent !important;
    }
}

.pagination-next {
    font-weight: 700;
    font-size: 12px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 3.4px;
    i {
        margin-left: 8px;
    }
    &:hover {
        border-color: transparent !important;
    }
}

.pagination-previous[disabled]{
    background-color: $light-grey !important;
    opacity: 1 !important;
    border: none !important;
    color: $dark !important;
}