$menu-item-color: $med-grey;
$menu-item-radius: 0;
$menu-item-hover-color:	$white;
$menu-item-hover-background-color: $dark;
$menu-item-active-color: $white;
$menu-item-active-background-color: $dark;

.menu {
    //height: 100vh;
    letter-spacing: 2px;
    
    .menu-list {
        > li {
            display: block;
            align-items: center;
            // justify-content: center;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            > a {
                margin-left: 7px;
                padding-top: 24px;
                padding-bottom: 24px;
                line-height: 18px;
                font-size: 12px;
                font-family: 'Quicksand';
                font-weight: 400;
            }
            &.active {
                > a {
                    color: $white;
                }
                .icon {
                    color: $pink;
                }
            }
            &.collapsed .sub-list {
                display: none;
            }
        }
        .sub-list {
            border-left:none;
            padding:0;
            margin:0;
            .sub-item {
                height: 32px;
                a {
                    font-size: 12px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 56px;
                    width:167px;
                    height: 32px;
                    &:hover {
                        background-color: $pink;
                        color: $white;
                    }
                }
                &.sub-selected {
                    a {
                        color: $white;
                        font-weight: 500;
                    }
                    background-color: $pink;
                }
            }
        
            .sub-item:hover {
                background-color: $pink;
                color: $white;
            }
        }
        
    }
}

.bolder {
    font-weight: 700 !important;
    color: $white !important;
}
