
.table {
    border-radius: 4px;
    box-shadow: 0 4px 20px 0 rgba(185, 185, 185, 0.15);
    
    .striped {
        background-color: #f7f7f7;
    }
    .selected {
        background-color: #fdf3f7;
    }
    tr {
        border: none !important;
        &:nth-child(even) {
            background-color: #f7f7f7;
        }
        &.selected{
            background-color: #fdf3f7;
        }
        .vpp-title {
            font-size: 14px;
            color: $dark;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .vpp-title:hover {
            font-size: 14px;
            color: $pink;
            letter-spacing: 1px;
            font-weight: 500;
        }
        
        th {
            border: none;
            padding-top: 32px !important;
            padding-bottom: 32px !important;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2px;
            &:last-child {
                width: 12rem;
                padding-left: 2rem;
            }
        }

        td.vpp-datetime {
            text-transform: uppercase;
            font-size: 12px;
            color: $med-grey;
            letter-spacing: 2px;

            .user {
                color: $pink;
                font-weight: 500;
            }
        }
    }
    td {
        border: none !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}


.table {

    .checkbox {
        margin: 0;
        position: relative;
        display: block;
        margin-left: 6px;
        margin-right: -6px;

        label {
            min-height: 12px;
            padding-left: 12px;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
            vertical-align: sub;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            opacity: 0.00000001;
            position: absolute;
            left: 0;

            &:checked ~ i::before {
                border: 1px solid $pink;
                background-color: $pink;
            }
        
            &:checked ~ i::after {
                -webkit-transform: rotate(-45deg) scale(1);
                -moz-transform: rotate(-45deg) scale(1);
                -ms-transform: rotate(-45deg) scale(1);
                transform: rotate(-45deg) scale(1);
            }
        
            &:focus + label::before {
                outline: rgb(59, 153, 252) auto 5px;
            }
                    
        }

        i {
            position: absolute;
            top: -3px;
            left: -3px;
            cursor: pointer;
            display: block;
            font-size: 14px;
            user-select: none;
            color: #e7e7e7;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                margin: 4px;
                width: 20px;
                height: 20px;
                transition: transform 0.28s ease;
                border-radius: 3px;
                border: 1px solid $grey;
            }
            &:after {
                content: '';
                display: block;
                width: 11px;
                height: 5px;
                border-bottom: 1px solid $white;
                border-left: 1px solid $white;
                -webkit-transform: rotate(-45deg) scale(0);
                -moz-transform: rotate(-45deg) scale(0);
                -ms-transform: rotate(-45deg) scale(0);
                transform: rotate(-45deg) scale(0);
                position: absolute;
                top: 10px;
                left: 9px;
                color: $white;
            }
        }
    
    }
    
    //&.is-striped{
    //    tbody {
    //        tr:not(.is-selected):nth-child(even) {
    //            opacity: 0.6;
    //        }
    //    }
    //}
}  


.table.users {
    .status {
        font-size: 12px;
        text-transform: uppercase;
        color: $col-efbdce;
        letter-spacing: 1.7px;

        &:before {
            content: '● ';
        }
    }
    .status.active {
        font-weight: bold;
        color: $pink;
    }
}

.vpp-pushed {
    font-weight: bold;
    color: $pink;

    &:before {
        content: '● ';
    }
}

.vpp-queued {
    font-weight: bold;
    color: $pink;
    opacity: 0.6;
    &:before {
        content: '● ';
    }
}