
body {
    font-family: 'Quicksand';
}

$white: #ffffff;
$dark: #1a1d29;
$pink: #d70e54; 
$grey: #9a9a9a;
$med-grey: #89898b;
$light-grey: #efefef;
$light-pink: #e5becf;
$col-efbdce: #efbdce;
$col-474a53: #474a53;
$col-8f2c53: #8f2c53;

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

$danger: $pink;

$table-striped-row-even-hover-background-color: $light-pink;