
// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');


// Variables
@import "variables";
@import "mixins";
@import "paddings";
@import "font-sizes";
@import "icons";
@import "navbar";
@import "sidebar";
@import "~simplebar/dist/simplebar.css";
@import "notifications";
@import "buttons";
@import "table";
@import "pagination";
@import "modal";
@import "form";
@import "animations";
@import "tabs";
@import "charts";


@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome.scss";

html,body { height: 100%; margin: 0px; padding: 0px; }
#full { min-height: calc(100% - 64px); position:relative; background-color: #ededed; }

.white-back {
    background: $white;
}

body {
    font-family: 'Quicksand';
    color: '#1a1d29';
    textarea, input, button { outline: none; }   
}

#app {
    height:100%;
}

.is-sidebar-menu {
    width: 180px;
    background-color: $dark;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.is-main-content {
    padding-left: 180px;
    @include mobile() {
        padding-left: 0;
    }
}

input:focus {
    outline:none;
}

.vpp-rot {
    transform: rotate(-45deg);
}

h1 {
    font-weight: 700;
    color: $dark;
    font-size: 32px;
    letter-spacing: 4px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.66;
}

h2.subtitle {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1d29;
    opacity: 0.6;
    text-transform: uppercase;
}

.top-container {
    background-color: $white;
    padding-top: 52px;
    padding-left: 52px;
    padding-right: 24px;
    padding-bottom: 40px;
    position:relative;
    .tabs {
        position: absolute;
        left:0;
        bottom:0;
    }
    .breadcrumb {
        position: absolute;
        left:0;
        top:0;
        opacity: 0.6;
        a {
            font-size: 12px;
            letter-spacing: 2px;
            color: #1a1d29;
            text-transform: uppercase;
            padding: 16px;
        }
        i {
            font-size: 22px;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 5px;
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }
    }
    .title {
        line-height: 1.5;
        padding-bottom: 10px;
        max-width: 900px;
    }
}
.content-wrapper {
    padding: 24px;
    position:relative;
}
.content-toolbar {
    display:flex;
    justify-content:space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    position:relative;
}

.tabs {
    margin-top:40px;
    margin-bottom: 0px !important;
    ul {
        margin-left: 40px;
        border-color: $white;
        li {
            a {
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 17px;
                padding-bottom: 23px;
                font-family: 'Quicksand';
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 12px;
                border-bottom-width: 0;
                min-width: 120px;
                &:hover {
                    color: $pink;
                    border-color: $white;
                }
            }
        }
        li.is-active {
            a {
                font-family: 'Quicksand';
                color: $pink;
                font-weight: 700;
                letter-spacing: 2px;
                padding-bottom: 17px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: $pink;
                    height: 6px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.explicit-tag {
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    background-color: rgba(215, 14, 84, 0.2);
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.selected-count {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    color: $dark;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 0px;

    position: absolute;
    right: 0;
    top: -13px;
}

.vpp-no-pad-bot {
    padding-bottom: 0 !important;
}

.vpp-attacher {
    width:100%;
    & > .columns > .column:first-child {
        border-right: 1px solid #d2d3d6;
    }
    .control {
        margin-bottom: 10px;
    }
    h3 {
        font-weight: bold;
    }
    .panel-block {
        border-left: 0 none;
        border-right: 0 none;
        border-top: 0 none;
        border-bottom: 0 none;
        position:relative;
        font-size: 14px;
        color: #1a1d29;
        letter-spacing: 1px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 4px 80px 4px 4px;
        &.disabled {
            color: rgba(26,29,41,0.6);
        }
        .note {
            display:none;
            position:absolute;
            top: 0;
            right:10px;
            font-size: 14px;
            font-weight: bold;
            color:#d70e54;
            line-height: 30px;
        }
    }
    a.panel-block:not(.disabled):hover {
        background-color: rgba(229,190,207,0.16);
        .note {
            display:block;
        }
    }

}
.loading {
    height: 4em;
    position: relative;
    pointer-events: none;
    text-indent: -9999px;
    &:after {
        @include loader;
        width: 2em;
        height: 2em;
        position: absolute;
        top: calc(50% - 1em);
        left: calc(50% - 1em);
    }
}
.vpp-dropdown {
    .dropdown-trigger {
        flex: 1;
    }
    .dropdown-item {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        color:#d70e54;
    }
    a.dropdown-item:hover {
        background-color: rgba(229,190,207,0.16);
        color:#d70e54;
    }
    .dropdown-menu {
        right:0; left:inherit; min-width:10rem;
    }
    button {
        //padding-left: 0 !important;
        
        & > div {
            //background: white;
            //color: #d70e54;
            flex: 1;
            //border-top-left-radius: 20px;
            //border-bottom-left-radius: 20px;
        }
    }
}

