// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');


// Variables
@import "variables";
@import "icons";
@import "animations";
@import "mixins";

@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome.scss";

html,body { height: 100%; margin: 0px; padding: 0px;
    background-image: url('/images/dark_bg.png');
    font-family: 'Quicksand';
}

// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

.vpp-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.navbar-burger {
    margin-left: -47px;
    color: $white;
}

.vpp-top {
    text-align: center;
    @include lg {
        text-align: left;
    }
}

.top-large {
    color: $white;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: 12px;
    @include lg {
        font-size: 40px;
        text-align: left;
    }
}

.vpp-learn-more {
    border-radius: 20px;
    border: solid 2px $white;
    color: $white !important;
    background-color: transparent !important;
}



@media only screen and (min-width: 769px) and (max-width: 1024px){
    .top-large {
        font-size: 32px;
    }

    .top-small {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 2048px){
    .req-demo {
        max-width: 500px;
    }
}


.top-small {
    color: $white;
    display: flex;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 32px;
    @include lg {
        font-size: 24px;
        text-align: left;
    }
}

.with-pink {
    // background-size: cover;
    background-position: bottom 300px;
    background-image: url('/images/pink_bg.jpg');
    
}

.slant-right-left {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.slant-left-right {
    // @include angle(before, false, 8deg);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    // clip-path:  polygon(0 0, 0 63%, 0 100%);
}

.vpp-pink-bg {
    // background-position: left top;
    // background-image: url('/images/dark_bg.png');
}

.vpp-large-btn {
    // margin-right: 24px;
    vertical-align: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    text-transform: capitalize;

    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 4px;
    color: $pink;

    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include lg {
        margin-right: 24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 10px;
        padding-bottom: 9px;
    }

    @include md {
        margin-right: 12px;
    }

    // @include sm {
    //     width: 242px !important;
    //     margin-right: 4px;
    // }
}


@media only screen and (max-width: 1204px) {
    .vpp-learn-more {
        // margin-right: 10px;
        display: none;
    }
}

.vpp-center-content {
    display:flex; 
    justify-content: center;
}

.vpp-img {
    margin-top: 48px;
}

.top-img-contain {
    @include lg {
        display:flex; 
        justify-content: center;
    }
}


    .lg-pads {
        @include lg {
            padding-left: 122px !important;
            padding-right: 122px !important;
        }
    }



.with-dark-h1 {
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: 6px;
    color: $white;
    @include lg {
        font-size: 14px;
    }
}

.with-dark-sub {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    @include lg {
        font-size: 32px;
    }
}

.with-dark-main {
    margin-top: 12px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    @include lg {
        font-size: 20px;
    }
}

.padded-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 40px;
}

.features-section {
    color: $white;
    h1 {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.67;
        letter-spacing: 6px;
        text-align: center;
        @include lg {
            font-size: 14px;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        @include lg {
            font-size: 32px;
            width: 460px;
            margin: 0 auto;
        }
    }

    .feature {
        margin-top: 28px;
        vertical-align: middle;
        // border: 1px solid green;
        @include lg {
            margin-bottom: 40px;
            height: 100px;
            width: 300px;
        }
        i {
            font-size: 24px;
            color: $white;
            margin-right: 16px;
        }
        .feature-icon {
            position:relative; top: 5px; left: 12px;
        }
        .feature-icon-right {
            position:relative; top: 5px;
        }
        span {
            padding-top: -40px;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.88;
            letter-spacing: 1px;
            @include lg {
                font-size: 20px;
            }
        }
        p {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            margin-left: 40px;
            opacity: 0.6;
            @include lg {
                font-size: 16px;
                text-align: right;
            }
        }
    }
}

.top-mrg {
    @include lg {
        margin-top: 60px;
    }
}

.team {
    // padding-left: 31px;
    // padding-right: 31px;
}

.vpp-contact {
    color: $white;
    border-radius: 25px;
    background-color: rgba(242, 241, 241, 0.2);
    border: none;
    max-width: 460px;
    @include sm {
        width: 100%;
    }
}

.field {
    .label {
        color: $white;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
    }
}

.footer-text {

    h1 {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 6px;
        text-align: center;
        color: $white;
    }
    p {
        padding-left: 39px;
        padding-right: 39px;
        opacity: 0.6;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 1px;
        text-align: center;
        color: $white;
        margin-bottom: 32px;
    }
}
a.navbar-item {
    font-size: 12px;
    letter-spacing: 5px;
}
a.navbar-item:hover, 
a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
    background: none;
}

.technology-box {
    margin-top: 150px;
    @include md {
        margin-top: 0px;
    }
}

$navbar-dropdown-arrow: '';

.vpp-public-item {
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 5px;
  text-align: left;
  color: $white !important;
}

.vpp-public-item:hover {
    color: $dark !important;
}

.vpp-login-btn {
    border-radius: 20px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    border: solid 2px #ffffff;
}

.footer-box {
    margin-top: 20px;
    text-align: center; padding-top: 24px; padding-bottom: 4px; justify-content: center;
}

.footer-lg {
    h1,p {
        text-align: left;
        margin-left: 0;
        padding-left: 0;
    }

    p {
        margin-top: 12px;
    }
}

.is-right {
    text-align: right;
}

.login-box {
    margin-top: 120px;
}

.login-label {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $white;
}

.form-group {
    margin-bottom: 24px;
}

.login-p {
    color: $white;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
}



@media only screen and (min-width: 0px) and (max-width: 769px){
    .login-h1 {
        font-size: 20px;
        text-align: center;
    }

    .login-p {
        font-size: 16px;
        text-align: center;
    }

    .login-box {
        margin-top: 35px;
    }

    .login-form {
        text-align: center;
        margin: 0 auto;
        width: 295px;
    }

    #submitBtn {
        margin-top: 24px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 769px){
    .top-img {
        height: 394px;
    }
}

@media only screen and (min-width: 770px){
    .top-img {
        height: 450px;
    }
}



.vpp-link {
    color: $dark;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    // background-color: rgb(0,0,0); /* Black fallback color */
    // background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    background-image: url('/images/dark_bg.png');
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}